/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.add-students1 {
  @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
}
.upload-list-of1 {
  @apply relative tracking-[-0.02em] leading-[2.78vw] text-[length:var(--font-size-lg)] text-[color:var(--icon-grey)] mt-[-0.53vw];
}
.add-students-group {
  @apply flex-col items-start;
}
.add-students-group,
.frame-input,
.name-group {
  @apply flex justify-start;
}
.frame-input {
  @apply border-[color:var(--color-gainsboro-400)] text-[length:var(--font-size-xl)] bg-transparent rounded-[var(--br-xs)] box-border w-[20.11vw] flex-row items-center pt-[var(--padding-base)] pr-[var(--padding-5xl)] pb-[var(--padding-base)] pl-[var(--padding-5xl)] border-[0.07vw] border-solid;
  font-family: var(--font-avenir-lt-std);
}
.name-group {
  @apply flex-col items-start gap-[var(--gap-xs)];
}
.email {
  @apply relative;
}
.frame-parent24,
.frame-parent25,
.frame-wrapper14 {
  @apply flex items-start justify-start;
}
.frame-parent25 {
  @apply flex-row gap-[var(--gap-xs)];
}
.frame-parent24,
.frame-wrapper14 {
  @apply flex-col;
}
.frame-wrapper14 {
  @apply text-[length:var(--font-size-lg)];
}
.frame-parent24 {
  @apply gap-[var(--gap-lg)];
}
.send-invite {
  @apply relative text-[length:var(--font-size-xl)] text-[color:var(--white)] text-left font-[bold];
  font-family: var(--font-avenir-lt-std);
}
.send-invite-wrapper {
  @apply rounded-[var(--br-5xs)] bg-[color:var(--purple)] overflow-hidden flex flex-row items-center justify-center pt-[var(--padding-base)] pr-[var(--padding-xl)] pb-[var(--padding-base)] pl-[var(--padding-xl)];
}
.frame-parent23,
.frame-wrapper15 {
  @apply flex items-start justify-start;
}
.frame-wrapper15 {
  @apply cursor-pointer bg-transparent flex-row p-0 border-0;
}
.frame-parent23 {
  @apply absolute left-[calc(50%_-_20.5vw)] flex-col gap-[var(--gap-13xl)] top-[2.25vw];
}
.vector-icon6 {
  @apply absolute h-[34%] w-[34.01%] max-w-full overflow-hidden max-h-full left-[32.99%] right-[33%] top-[32.99%] bottom-[33%];
}
.basilcross-outline4 {
  @apply cursor-pointer bg-transparent absolute w-[2.12vw] h-[2.12vw] overflow-hidden p-0 border-0 left-[40.34vw] top-[2.12vw];
}
.addstudentsmanualpopup {
  @apply rounded-[var(--br-base)] bg-[color:var(--white)] w-[44.31vw] h-[22.69vw] overflow-hidden max-w-full max-h-full text-left text-[1.56vw] text-[color:var(--black)] absolute left-[30vw] top-[20vw];
  font-family: var(--font-avenir-lt-std);
}
