/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.scheduled-interviews2 {
    @apply relative tracking-[-0.02em] leading-[2.78vw];
  }
  .scheduled-interviews-frame {
    @apply absolute flex flex-col items-start justify-start font-[bold] left-[1.32vw] top-[1.32vw];
  }
  .today1 {
    @apply absolute top-[-0.1vw] text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--purple)] font-[bold] left-[0.5vw];
    font-family: var(--font-avenir-lt-std);
  }
  .today-container {
    @apply cursor-pointer border-[color:var(--purple)] bg-[color:var(--color-gray-400)] relative rounded-[var(--br-4xs)] box-border w-[7.08vw] h-[2.51vw] p-0 border-[0.08vw] border-solid;
  }
  .upcoming1 {
    @apply absolute top-[-0.07vw] left-[calc(50%_-_2.41vw)] text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .upcoming-container {
    @apply cursor-pointer bg-transparent relative rounded-[var(--br-4xs)] w-[7.08vw] h-[2.51vw] p-0 border-0;
  }
  .completed1 {
    @apply relative text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .completed-container,
  .frame-parent75 {
    @apply rounded-[var(--br-4xs)] flex flex-row items-start justify-start box-border;
  }
  .completed-container {
    @apply cursor-pointer pr-[var(--padding-base)] pl-[var(--padding-base)] bg-transparent h-[2.51vw] py-0 border-0;
  }
  .frame-parent75 {
    @apply w-[16.33vw] pt-[var(--padding-9xs)] pr-[var(--padding-base)] pb-[var(--padding-9xs)] pl-[var(--padding-9xs)] gap-[var(--gap-5xl)];
    background: linear-gradient(
      135deg,
      rgba(96, 91, 255, 0.08),
      rgba(96, 91, 255, 0.08)
    );
  }
  .frame-child45 {
    @apply relative border-t-[color:var(--icon-grey)] box-border w-[67vw] h-[0.07vw] opacity-50 border-t-[0.07vw] border-solid;
  }
  .today-parent {
    @apply flex flex-row items-center justify-start gap-[var(--gap-xl)];
  }
  .phdots-three-icon6 {
    @apply absolute top-[-0.07vw] w-[1.85vw] h-[1.85vw] overflow-hidden left-[18.72vw];
  }
  .sde-1-interview7 {
    @apply relative text-[length:var(--font-size-xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .carbontime-icon {
    @apply relative w-[1.32vw] h-[1.32vw] overflow-hidden shrink-0;
  }
  .pm {
    @apply relative text-[length:var(--font-size-sm)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .carbontime-parent {
    @apply flex flex-row items-center justify-start gap-[var(--gap-5xs)] mt-[-0.26vw];
  }
  .sde-1-interview-parent5 {
    @apply flex flex-col items-start justify-start;
  }
  .company-logo-icon8 {
    @apply relative w-[5.75vw] h-[2.51vw] overflow-hidden shrink-0;
  }
  .view-resume {
    @apply relative text-[length:var(--font-size-sm)] text-[color:var(--purple)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .view-resume-wrapper {
    @apply rounded-[var(--br-9xs)] bg-[color:var(--color-mediumslateblue-100)] border-[color:var(--purple)] overflow-hidden flex flex-row items-center justify-center pt-[var(--padding-5xs)] pr-[var(--padding-base)] pb-[var(--padding-5xs)] pl-[var(--padding-base)] w-[5.9vw] border-[0.07vw] border-solid;
  }
  .company-logo-parent5,
  .frame-parent77 {
    @apply flex flex-row items-center justify-start gap-[var(--gap-83xl)];
  }
  .frame-parent77 {
    @apply absolute top-[-0.26vw] w-[20.57vw] flex-col items-start gap-[var(--gap-9xs)] left-0;
  }
  .phdots-three-parent4 {
    @apply absolute w-[18.39vw] h-[8.6vw] left-[1.32vw] top-[1.59vw];
  }
  .frame-wrapper41 {
    @apply cursor-pointer bg-[color:var(--white)] relative rounded-[var(--br-base)] shadow-[-0.13vw_0_0_rgba(0,0,0,0.1),0.13vw_-0.13vw_0_rgba(0,0,0,0.1),0_0.2vw_0_#605bff] w-[22.2vw] h-[12.04vw] overflow-hidden shrink-0 ml-[0.08vw] mb-[0.25vw] p-0 border-0 top-[0.08vw];
  }
  .carbontime-group {
    @apply flex flex-row items-center justify-start gap-[var(--gap-5xs)] mt-[-0.26vw] text-[length:var(--font-size-sm)] text-[color:var(--icon-grey)];
  }
  .view-resume1 {
    @apply relative;
  }
  .company-logo-parent6 {
    @apply flex flex-row items-center justify-start gap-[var(--gap-83xl)] text-[length:var(--font-size-sm)] text-[color:var(--purple)];
  }
  .frame-wrapper42 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] shadow-[-0.13vw_0_0_rgba(0,0,0,0.1),0.13vw_-0.13vw_0_rgba(0,0,0,0.1),0_0.2vw_0_#605bff] w-[23.21vw] h-[10.85vw] overflow-hidden shrink-0;
  }
  .frame-parent74,
  .frame-parent76,
  .frame-wrapper40 {
    @apply flex items-start justify-start;
  }
  .frame-parent74 {
    @apply max-h-[46vw] gap-[var(--gap-xl)];
  }
  .frame-parent76 {
    @apply w-[72.82vw] flex-row flex-wrap gap-[var(--gap-5xl)] text-[length:var(--font-size-xl)] max-h-[49vw] overflow-auto;
  }
  .frame-parent74,
  .frame-wrapper40 {
    @apply flex-col;
  }
  .frame-wrapper40 {
    @apply absolute text-[length:var(--font-size-5xl)] text-[color:var(--black)] left-[1.65vw] top-[6.22vw];
  }
  .vector-icon18 {
    @apply absolute top-[calc(50%_-_0.73vw)] left-[calc(50%_-_0.73vw)] w-[1.43vw] h-[1.43vw];
  }
  .uiwdate1 {
    @apply cursor-pointer bg-transparent absolute w-[1.59vw] h-[1.59vw] overflow-hidden p-0 border-0 left-[72.88vw] top-[2.12vw];
  }
  .frame-parent73 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] w-[76.59vw] h-[53.17vw];
  }
  .dashboard-interviewer-inner {
    @apply absolute h-[53.17vw] overflow-hidden flex flex-col items-start justify-start left-[21.03vw] top-[9.13vw];
  }
  .dashboard-interviewer {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-6xl)] text-[color:var(--color-darkslategray-200)];
    font-family: var(--font-avenir-lt-std);
  }
  