.just-a-few-login, .your-profile-is-login {
    position: relative
    }
.just-a-few-login {
    font-size: var(--font-size-5xl-login)
    }
.your-profile-is-almost-ready-parent-login {
    position: absolute;
    top: 11.43vw;
    left: 4.8vw;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-9xs-login);
    color: var(--color-gray-400-login)
    }
.college-name-parent-login, .frame-child25-login, .your-profile-is-almost-ready-parent-login {
    display: flex;
    justify-content: flex-start
    }
.frame-child25-login {
    border: 0.06vw solid var(--color-gainsboro-300-login);
    font-family: var(--h1-heavy-login);
    font-size: var(--body-heavy-size-login);
    background-color: transparent;
    border-radius: var(--br-xs-login);
    box-sizing: border-box;
    width: 31.2vw;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-base-login) var(--padding-5xl-login)
    }
.college-name-parent-login {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs-login)
    }
.frame-child26-login {
    border: 0.06vw solid var(--color-gainsboro-300-login);
    font-family: var(--h1-heavy-login);
    font-size: var(--body-heavy-size-login);
    background-color: transparent;
    border-radius: var(--br-xs-login);
    box-sizing: border-box;
    width: 31.2vw;
    height: 3.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base-login) var(--padding-5xl-login)
    }
.frame-wrapper31-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
    }
.frame-parent46-login, .next-login {
    font-size: var(--body-heavy-size-login)
    }
.frame-parent46-login {
    position: absolute;
    top: 18.91vw;
    left: 4.8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xl-login)
    }
.next-login {
    position: relative;
    font-family: var(--h1-heavy-login);
    color: var(--color-white-login);
    text-align: left
    }
.frame-wrapper32-login, .next-wrapper-login {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center
    }
.frame-wrapper32-login {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl-login) var(--padding-5xl-login);
    background-color: var(--purple-login);
    border-radius: var(--br-xs-login);
    width: 31.2vw;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box
    }
.sign-in8-login {
    color: var(--purple-login)
    }
.already-have-an-container8-login {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: inherit
    }
.frame-parent47-login {
    position: absolute;
    top: 43.26vw;
    left: 4.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-33xl-login);
    font-size: var(--font-size-base-login)
    }
.sign-up-as-individual2-login {
    position: relative;
    background-color: var(--color-white-login);
    width: 100%;
    height: 56.12vw;
    overflow: hidden;
    text-align: left;
    font-size: var(--h1-heavy-size-login);
    color: var(--black-login);
    font-family: var(--h1-heavy-login)
    }