.cantileverlogoblack-2-icon3 {
    position: absolute;
    top: 2.91vw;
    left: calc(50% - 7.21vw);
    width: 11.77vw;
    height: 2.45vw;
    object-fit: cover
    }
.home2 {
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-avenir-lt-std);
    color: var(--icon-grey);
    text-align: left
    }
.phstar-container {
    position: absolute;
    top: calc(50% - 0.79vw);
    left: 2.91vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base)
    }
.frame-wrapper114 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    width: 19.18vw;
    height: 4.03vw;
    overflow: hidden;
    flex-shrink: 0
    }
.healthiconsi-exam-multiple-ch {
    position: relative;
    width: 1.32vw;
    height: 1.32vw;
    overflow: hidden;
    flex-shrink: 0
    }
.tests1 {
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-avenir-lt-std);
    color: var(--purple);
    text-align: left;
    font-weight: bold;
    }
.frame-child207 {
    position: absolute;
    top: calc(50% - 1.69vw);
    left: calc(50% - 8.8vw);
    border-radius: var(--br-9xs);
    background-color: var(--purple);
    width: 17.59vw;
    height: 3.44vw;
    opacity: 0.1
    }
.frame-parent277 {
    position: absolute;
    top: 8.53vw;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
    }
.frame-wrapper116 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    bottom: 2.65vw;
    left: 0;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    width: 19.18vw;
    height: 4.03vw;
    overflow: hidden
    }
.illustration-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.68vw;
    height: 10.65vw
    }
.upgrade-to-pro2 {
    position: relative;
    font-weight: bold;
    }
.get-exclusive-dashboard1 {
    position: relative;
    font-size: var(--font-size-sm)
    }
.upgrade-to-pro-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs)
    }
.upgrade-now1 {
    position: relative;
    font-size: 1.05vw;
    font-family: var(--font-avenir-lt-std);
    color: var(--white);
    text-align: left
    }
.upgrade-now-container {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-21xl);
    background-color: var(--purple);
    border-radius: var(--br-5xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
    }
.frame-parent279 {
    position: absolute;
    top: calc(50% - 3.67vw);
    left: 1.32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lgi)
    }
.illustration1 {
    position: absolute;
    top: 44.58vw;
    left: 2.25vw;
    width: 14.68vw;
    height: 10.52vw
    }
.cantileverlogoblack-2-parent1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 19.18vw;
    height: 64.95vw;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-gray-500);
    font-family: var(--font-avenir-lt-std)
    }