/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.add-new-test {
  @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
}
.fill-in-the {
  @apply relative tracking-[-0.02em] leading-[2.78vw] text-[length:var(--font-size-lg)] text-[color:var(--icon-grey)] mt-[-0.53vw];
}
.add-new-test-parent {
  @apply flex-col items-start;
}
.add-new-test-parent,
.company-group,
.frame-child4 {
  @apply flex justify-start;
}
.frame-child4 {
  @apply border-[color:var(--color-gainsboro-400)] text-[length:var(--font-size-xl)] bg-transparent rounded-[var(--br-xs)] box-border w-[20.11vw] flex-row items-center pt-[var(--padding-base)] pr-[var(--padding-5xl)] pb-[var(--padding-base)] pl-[var(--padding-5xl)] border-[0.07vw] border-solid;
  font-family: var(--font-avenir-lt-std);
}
.company-group {
  @apply flex-col items-start gap-[var(--gap-xs)];
}
.level {
  @apply relative;
}
.frame-parent32 {
  @apply flex-row items-start gap-[var(--gap-xs)];
}
.frame-child8,
.frame-parent31,
.frame-parent32 {
  @apply flex justify-start;
}
.frame-parent31 {
  @apply flex-col items-start gap-[var(--gap-17xl)] text-[length:var(--font-size-lg)];
}
.frame-child8 {
  @apply border-[color:var(--color-gainsboro-400)] text-[length:var(--font-size-xl)] bg-transparent rounded-[var(--br-xs)] box-border w-[41.07vw] flex-row items-center pt-[var(--padding-base)] pr-[var(--padding-5xl)] pb-[var(--padding-base)] pl-[var(--padding-5xl)] border-[0.07vw] border-solid;
  font-family: var(--font-avenir-lt-std);
}
.enter-topic-tags-parent {
  @apply flex flex-col items-start justify-start gap-[var(--gap-5xs)];
}
.machine-learning3 {
  @apply relative inline-block w-[7.21vw] h-[0.99vw] shrink-0 font-[light];
}
.vector-icon8 {
  @apply absolute h-[54.76%] w-[54.76%] max-w-full overflow-hidden max-h-full left-[22.62%] right-[22.61%] top-[22.62%] bottom-[22.61%];
}
.system-uiconscross {
  @apply cursor-pointer bg-transparent relative w-[0.93vw] h-[0.93vw] overflow-hidden shrink-0 p-0 border-0;
}
.machine-learning-parent {
  @apply rounded-[var(--br-5xl)] border-[color:var(--purple)] overflow-hidden flex flex-row items-end justify-center pt-[var(--padding-6xs)] pr-[var(--padding-2xs)] pb-[var(--padding-6xs)] pl-[var(--padding-2xs)] gap-[var(--gap-11xs)] border-[0.07vw] border-solid;
}
.frame-parent30,
.frame-parent34,
.frame-parent35 {
  @apply flex items-start justify-start;
}
.frame-parent35 {
  @apply flex-row gap-[var(--gap-xs)] text-[length:var(--font-size-sm)] text-[color:var(--purple)];
}
.frame-parent30,
.frame-parent34 {
  @apply flex-col;
}
.frame-parent34 {
  @apply gap-[var(--gap-base)] text-[length:var(--font-size-xl)];
}
.frame-parent30 {
  @apply gap-[var(--gap-5xl)];
}
.add-test {
  @apply relative text-[length:var(--font-size-xl)] text-[color:var(--white)] text-left font-[bold];
  font-family: var(--font-avenir-lt-std);
}
.add-test-wrapper {
  @apply rounded-[var(--br-5xs)] bg-[color:var(--purple)] overflow-hidden flex flex-row items-center justify-center pt-[var(--padding-base)] pr-[var(--padding-xl)] pb-[var(--padding-base)] pl-[var(--padding-xl)] cursor-pointer;
}
.frame-parent29,
.frame-wrapper22 {
  @apply flex items-start justify-start;
}
.frame-wrapper22 {
  @apply cursor-pointer bg-transparent flex-row p-0 border-0;
}
.frame-parent29 {
  @apply absolute top-[calc(50%_-_18.75vw)] left-[calc(50%_-_20.54vw)] flex-col gap-[2.91vw];
}
.vector-icon10 {
  @apply absolute h-[34.01%] w-[34.01%] max-w-full overflow-hidden max-h-full left-[32.99%] right-[33%] top-[32.99%] bottom-[33%];
}
.basilcross-outline6 {
  @apply cursor-pointer bg-transparent absolute w-[2.12vw] h-[2.12vw] overflow-hidden p-0 border-0 left-[40.34vw] top-[2.12vw];
}
.scheduletestpopup {
  @apply rounded-[var(--br-base)] bg-[color:var(--white)] w-[44.31vw] h-[45.79vw] overflow-hidden max-w-full max-h-full text-left text-[1.56vw] text-[color:var(--black)] absolute left-[30vw] top-[10vw];
  font-family: var(--font-avenir-lt-std);
}
