.vector-icon {
  position: absolute;
  height: 34%;
  width: 34.01%;
  top: 32.99%;
  right: 33%;
  bottom: 33%;
  left: 32.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%
  }
.basilcross-outline {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.85vw;
  left: 28.04vw;
  width: 2.12vw;
  height: 2.12vw;
  overflow: hidden
  }
.are-you-sure {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.78vw
  }
.are-you-sure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start
  }
.log-out {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--white);
  text-align: left;
  font-weight: bold
  }
.log-out-wrapper {
  border-radius: var(--br-5xs);
  background-color: var(--purple);
  width: 10.78vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box
  }
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start
  }
.cancel {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--purple);
  text-align: left;
  font-weight: bold
  }
.cancel-wrapper {
  cursor: pointer;
  border: 0.07vw solid var(--purple);
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 10.78vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
  }
.frame-parent1, .frame-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl)
  }
.frame-parent1 {
  position: absolute;
  top: calc(50% - 4.3vw);
  left: calc(50% - 12.83vw);
  flex-direction: column
  }
.logoutpopup {
  border-radius: var(--br-base);
  background-color: var(--white);
  width: 32.01vw;
  height: 13.89vw;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--black);
  font-family: var(--font-avenir-lt-std);
  font-weight: bold;
  position: absolute;
  top: 20vw;
  left: 30vw;
  }