/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.frame-parent255,
.statement-container {
  @apply flex flex-col items-start justify-start;
}
.frame-parent255 {
  @apply absolute flex-row gap-[var(--gap-20xl)] left-[2.38vw] top-[1.59vw];
}
.code-snippet,
.div187 {
  @apply relative tracking-[-0.02em] leading-[2.78vw];
}
.div187 {
  @apply text-[color:var(--color-tomato)];
}
.time-spent-parent {
  @apply justify-start gap-[var(--gap-xs)] text-[length:var(--font-size-5xl)];
}
.code-snippet-parent,
.frame-child189,
.time-spent-parent {
  @apply flex flex-row items-center;
}
.code-snippet-parent {
  @apply w-[45.9vw] justify-between;
}
.frame-child189 {
  @apply justify-start w-[6.94vw] h-[2.5vw] bg-[color:var(--color-dodgerblue)] rounded-[0.5vw] border-[#605BFF];
}
.vector-icon40 {
  @apply absolute h-[66.67%] w-[66.63%] max-w-full overflow-hidden max-h-full left-[16.71%] right-[16.67%] inset-y-[16.67%];
}
.icoutline-refresh {
  @apply cursor-pointer bg-transparent relative w-[1.59vw] h-[1.59vw] overflow-hidden shrink-0 p-0 border-0;
}
.vector-icon41 {
  @apply absolute h-[87.49%] w-[82.83%] top-[-93.73%] max-w-full overflow-hidden max-h-full left-[8.57%] right-[8.59%] bottom-[106.23%];
}
.frame-parent258,
.icoutline-refresh-parent {
  @apply flex flex-row justify-start;
}
.icoutline-refresh-parent {
  @apply items-start gap-[var(--gap-xl)];
}
.frame-parent258 {
  @apply items-center gap-[34.33vw] mt-[2vw];
}
.write-your-code {
  @apply absolute left-[1.59vw] top-[1.59vw];
}
.write-your-code-here-wrapper {
  @apply relative rounded-[var(--br-5xs)] bg-[color:var(--color-aliceblue)] border-[color:var(--color-darkgray-300)] box-border w-[45.77vw] h-[27.25vw] overflow-hidden shrink-0 text-[length:var(--font-size-lg)] text-[color:var(--light-base-chart-title)] border-[0.03vw] border-solid;
}
.sub-task {
  @apply absolute tracking-[-0.02em] leading-[2.78vw] left-[4.89vw] top-[1.06vw];
}
.p {
  @apply m-0;
}
.div188 {
  @apply left-[6.68vw] top-[5.16vw];
}
.div188,
.div189,
.result,
.task {
  @apply absolute tracking-[-0.02em] leading-[2.78vw];
}
.div189 {
  @apply left-[calc(50%_-_0.33vw)] top-[5.16vw];
}
.result,
.task {
  @apply top-[1.06vw];
}
.task {
  @apply left-[calc(50%_-_0.99vw)];
}
.result {
  @apply left-[37.4vw];
}
.frame-child190 {
  @apply relative border-r-[color:var(--color-lightgray-100)] box-border w-[0.07vw] h-[19.84vw] border-r-[0.07vw] border-solid;
}
.line-parent12 {
  @apply absolute top-[calc(50%_-_10.12vw)] left-[calc(50%_-_8.93vw)] h-[20.3vw] flex flex-row items-start justify-start gap-[17.92vw];
}
.sub-task-parent {
  @apply relative rounded-[var(--br-5xs)] bg-[color:var(--color-aliceblue)] border-[color:var(--color-darkgray-300)] box-border w-[45.77vw] h-[22.22vw] overflow-hidden shrink-0 text-[length:var(--font-size-base)] border-[0.03vw] border-solid;
}
.frame-parent257,
.test-cases-parent {
  @apply flex flex-col items-start justify-start;
}
.test-cases-parent {
  @apply gap-[var(--gap-base)] text-[length:var(--font-size-5xl)];
}
.frame-parent257 {
  @apply absolute rounded-[var(--br-7xs)] bg-[color:var(--white)] h-[50.59vw] overflow-auto box-border gap-[var(--gap-9xl)] shadow-[-2px_0_rgba(0,0,0,0.15)] px-[2.5vw] py-[1.92vw] left-[45.66vw] top-[0vw];
}
.run-code {
  @apply relative text-[length:var(--font-size-lg)] text-[color:var(--white)] text-left;
  font-family: var(--font-avenir-lt-std);
}
.run-code-wrapper {
  @apply rounded-[var(--br-5xs)] bg-[color:var(--purple)] border-[color:var(--purple)] box-border w-[22.49vw] h-[3.57vw] overflow-hidden shrink-0 flex flex-row items-center justify-center pt-[var(--padding-xl)] pr-[var(--padding-101xl)] pb-[var(--padding-xl)] pl-[var(--padding-101xl)] border-[0.07vw] border-solid;
}
.next1 {
  @apply relative text-[length:var(--font-size-lg)] text-[color:var(--purple)] text-left;
  font-family: var(--font-avenir-lt-std);
}
.frame-parent259,
.next-container {
  @apply cursor-pointer flex flex-row;
}
.next-container {
  @apply border-[color:var(--purple)] pt-[var(--padding-xl)] pr-[var(--padding-101xl)] pb-[var(--padding-xl)] pl-[var(--padding-101xl)] bg-[color:var(--color-dodgerblue)] rounded-[var(--br-5xs)] box-border w-[22.49vw] h-[3.57vw] overflow-hidden shrink-0 items-center justify-center border-[0.07vw] border-solid;
}
.frame-parent259 {
  @apply bg-transparent absolute items-start justify-start gap-[var(--gap-base)] p-0 border-0 left-[47.97vw] top-[40.66vw];
}
.frame-parent256 {
  @apply absolute bg-[color:var(--white)] shadow-[-0.07vw_0_0.13vw_rgba(0,0,0,0.15)] w-[50.66vw] h-[53.7vw] overflow-auto text-[length:var(--font-size-9xl)] left-[45.63vw] top-0;
}
.q1-problem-statement1 {
  @apply absolute tracking-[-0.02em] leading-[2.78vw] left-[2.38vw] top-[7.8vw];
}
.frame-parent254 {
  @apply absolute left-[calc(50%_-_48.15vw)] rounded-[var(--br-base)] bg-[color:var(--white)] w-[96.3vw] h-[50.7vw] overflow-hidden top-[9.39vw];
}
.test-screen-code-child {
  @apply absolute w-[45.7vw] h-[0.2vw] left-[1.79vw] top-[14.62vw];
}
.hi-priyanshu1,
.welcome-to-fulcrum1 {
  @apply relative tracking-[-0.02em] leading-[1.59vw];
}
.welcome-to-fulcrum1 {
  @apply text-[length:var(--font-size-15xl)] leading-[2.78vw] text-[color:var(--black)];
}
.frame-wrapper98 {
  @apply w-[21.56vw] flex flex-row items-center justify-start;
}
.oouinext-ltr-icon4 {
  @apply relative w-[1.06vw] h-[1.06vw] overflow-hidden shrink-0;
}
.oouinext-ltr-container {
  @apply flex flex-row items-center justify-start gap-[var(--gap-5xs)];
}
.frame-child192,
.frame-child193 {
  @apply relative bg-[color:var(--color-slateblue)] w-[4.63vw] h-[0.53vw] overflow-hidden shrink-0;
}
.frame-child193 {
  @apply bg-[color:var(--color-gainsboro-100)];
}
.frame-parent262 {
  @apply flex flex-row items-start justify-start gap-[var(--gap-5xs)];
}
.next-problem1 {
  @apply relative text-[length:var(--font-size-xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--purple)] text-left;
  font-family: var(--font-avenir-lt-std);
}
.frame-parent260,
.frame-parent261,
.next-problem-group {
  @apply flex flex-row items-center justify-start;
}
.next-problem-group {
  @apply cursor-pointer bg-transparent gap-[var(--gap-5xs)] p-0 border-0;
}
.frame-parent260,
.frame-parent261 {
  @apply gap-[var(--gap-xl)] text-[length:var(--font-size-xl)] text-[color:var(--icon-grey)];
}
.frame-parent260 {
  @apply absolute left-[calc(50%_-_47.62vw)] gap-[var(--gap-307xl)] text-[length:var(--font-size-base)] text-[color:var(--color-darkslategray-200)] top-[2.91vw];
}
.test-screen-code {
  @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-5xl)] text-[color:var(--black)];
  font-family: var(--font-avenir-lt-std);
}
.test {
  @apply max-h-[70vw] overflow-auto rounded-[0.5vw];
}
