/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.my-profile1 {
    @apply relative;
  }
  .my-profile-wrapper {
    @apply absolute rounded-[var(--br-16xl)] bg-[color:var(--color-mediumslateblue-200)] flex flex-row items-start justify-start pt-[var(--padding-xs)] pr-[var(--padding-base)] pb-[var(--padding-xs)] pl-[var(--padding-base)] left-0 top-0;
  }
  .frame-child1,
  .frame-parent5 {
    @apply absolute left-[1.06vw] top-[4.5vw];
  }
  .frame-parent5 {
    @apply w-[8.47vw] h-[6.08vw] text-[color:var(--purple)] left-[2.65vw] top-[3.17vw];
  }
  .my-profile2,
  .name,
  .priyanshu-gupta {
    @apply tracking-[-0.02em] leading-[2.78vw];
  }
  .my-profile2 {
    @apply absolute text-[length:var(--font-size-5xl)] left-[19.18vw] top-[2.12vw];
  }
  .name,
  .priyanshu-gupta {
    @apply relative;
  }
  .priyanshu-gupta {
    @apply text-[color:var(--icon-grey)];
  }
  .name-parent {
    @apply flex flex-col items-start justify-start;
  }
  .change-password1 {
    @apply relative text-[length:var(--font-size-sm)] underline tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)];
  }
  .password-parent {
    @apply w-[20.04vw] flex flex-row items-start justify-between;
  }
  .div1 {
    @apply absolute top-[-0.26vw] tracking-[-0.02em] leading-[2.78vw] left-0;
  }
  .carbonview-off-icon {
    @apply absolute w-[1.32vw] h-[1.32vw] overflow-hidden left-[18.19vw] top-[0.73vw];
  }
  .parent {
    @apply relative w-[20.04vw] h-[2.78vw] mt-[-0.26vw] text-[length:var(--font-size-17xl)] text-[color:var(--icon-grey)];
  }
  .frame-parent7,
  .frame-parent8 {
    @apply flex flex-col items-start justify-start;
  }
  .frame-parent8 {
    @apply w-[20.04vw];
  }
  .frame-parent7 {
    @apply gap-[var(--gap-lg)];
  }
  .machine-learning {
    @apply relative inline-block w-[7.21vw] h-[0.99vw] shrink-0;
  }
  .machine-learning-wrapper {
    @apply rounded-[var(--br-5xl)] border-[color:var(--purple)] overflow-hidden flex flex-row items-end justify-center pt-[var(--padding-6xs)] pr-[var(--padding-2xs)] pb-[var(--padding-6xs)] pl-[var(--padding-2xs)] border-[0.07vw] border-solid;
  }
  .frame-parent10,
  .skills-parent {
    @apply flex items-start justify-start;
  }
  .frame-parent10 {
    @apply w-[20.24vw] flex-row flex-wrap gap-[var(--gap-xs)] text-[length:var(--font-size-sm)] text-[color:var(--purple)];
  }
  .skills-parent {
    @apply flex-col gap-[var(--gap-9xs)];
  }
  .delete-account,
  .this-will-permanently {
    @apply relative text-[length:var(--font-size-base)];
  }
  .this-will-permanently {
    @apply tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)] mt-[-0.26vw];
  }
  .delete-account {
    @apply text-[color:var(--danger)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .delete-account-wrapper {
    @apply cursor-pointer pt-[var(--padding-4xs)] pr-[var(--padding-xs)] pb-[var(--padding-4xs)] pl-[var(--padding-xs)] bg-[color:var(--color-crimson-200)] rounded-[var(--br-5xs)] flex-row border-0;
  }
  .delete-account-wrapper,
  .frame-parent11,
  .frame-parent6 {
    @apply flex items-start justify-start;
  }
  .frame-parent11 {
    @apply w-[20.24vw] flex-col gap-[var(--gap-5xs)];
  }
  .frame-parent6 {
    @apply absolute flex-row gap-[var(--gap-118xl)] text-[length:var(--font-size-lg)] left-[19.71vw] top-[7.01vw];
  }
  .tableredit-icon {
    @apply relative w-[1.06vw] h-[1.06vw] overflow-hidden shrink-0;
  }
  .edit {
    @apply relative text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .tableredit-parent {
    @apply flex flex-row items-center justify-start gap-[var(--gap-5xs)];
  }
  .frame-wrapper7,
  .rectangle-group {
    @apply absolute bg-[color:var(--white)];
  }
  .frame-wrapper7 {
    @apply cursor-pointer pt-[var(--padding-9xs)] pr-[var(--padding-base)] pb-[var(--padding-9xs)] pl-[var(--padding-base)] rounded-[var(--br-xs)] shadow-[-0.13vw_-0.13vw_0.13vw_rgba(0,0,0,0.08),0.13vw_0.13vw_0.13vw_rgba(0,0,0,0.08)] flex flex-row items-start justify-start border-0 left-[68.85vw] top-[1.85vw];
  }
  .rectangle-group {
    @apply rounded-[var(--br-base)] w-[76.59vw] h-[48.54vw] overflow-hidden left-[21.03vw] top-[14.29vw];
  }
  .settings2 {
    @apply absolute text-[length:var(--font-size-9xl)] tracking-[-0.02em] leading-[2.78vw] left-[21.03vw] top-[10.45vw];
  }
  .settingsinterviewer {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-xl)] text-[color:var(--black)];
    font-family: var(--font-avenir-lt-std);
  }
  