/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.statement {
    @apply relative text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left w-[4vw];
    font-family: var(--font-avenir-lt-std);
  }
  .help,
  .statement-wrapper {
    @apply cursor-pointer bg-transparent p-0 border-0;
  }
  .statement-wrapper {
    @apply flex flex-col items-start justify-start;
  }
  .help {
    @apply relative text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left inline-block;
    font-family: var(--font-avenir-lt-std);
  }
  .frame-parent247 {
    @apply absolute flex flex-row items-start justify-start gap-[4vw] left-[1.7vw] top-[1vw];
  }
  .multiple-choice-questions {
    @apply relative tracking-[-0.02em] leading-[2.78vw] top-[1vw];
  }
  .questions1 {
    @apply relative tracking-[-0.02em] leading-[2.78vw];
  }
  .multiple-choice-questions1 {
    @apply relative tracking-[-0.02em] leading-[2.78vw] text-[color:var(--purple)] cursor-pointer;
  }
  .ellipse-input {
    @apply cursor-pointer relative border-[color:var(--light-base-chart-title)] box-border w-[1.32vw] h-[1.32vw] rounded-[50%] border-[0.07vw] border-solid;
  }
  .ellipse-parent5,
  .frame-wrapper93 {
    @apply flex flex-row items-center justify-start;
  }
  .ellipse-parent5 {
    @apply gap-[var(--gap-xl)];
  }
  .frame-wrapper93 {
    @apply rounded-[var(--br-xs)] bg-[color:var(--white)] border-[color:var(--color-darkgray-100)] box-border w-[45.46vw] overflow-hidden pt-[var(--padding-mini)] pr-[var(--padding-13xl)] pb-[var(--padding-mini)] pl-[var(--padding-13xl)] border-[0.07vw] border-solid;
  }
  .frame-parent249,
  .multiple-choice-questions-parent,
  .q1-select-one-of-the-options-parent {
    @apply flex flex-col items-start justify-start gap-[var(--gap-xl)] mt-[0.3vw];
  }
  .multiple-choice-questions-parent,
  .q1-select-one-of-the-options-parent {
    @apply gap-[var(--gap-9xl)];
  }
  .q1-select-one-of-the-options-parent {
    @apply text-[length:var(--font-size-xl)];
  }
  .multiple-choice-questions-parent {
    @apply absolute left-[2.38vw] top-[2.38vw];
  }
  .submit {
    @apply relative text-[length:var(--font-size-lg)] text-[color:var(--white)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .submit-wrapper {
    @apply cursor-pointer border-[color:var(--purple)] pt-[var(--padding-xl)] pr-[var(--padding-101xl)] pb-[var(--padding-xl)] pl-[var(--padding-101xl)] bg-[color:var(--purple)] rounded-[var(--br-5xs)] box-border w-[22.49vw] h-[3.57vw] overflow-hidden shrink-0 flex flex-row items-center justify-center border-[0.07vw] border-solid;
  }
  .next {
    @apply relative text-[length:var(--font-size-lg)] text-[color:var(--purple)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .next-wrapper {
    @apply cursor-pointer border-[color:var(--purple)] pt-[var(--padding-xl)] pr-[var(--padding-101xl)] pb-[var(--padding-xl)] pl-[var(--padding-101xl)] bg-[color:var(--color-dodgerblue)] rounded-[var(--br-5xs)] box-border w-[22.49vw] h-[3.57vw] overflow-hidden shrink-0 flex flex-row items-center justify-center border-[0.07vw] border-solid;
  }
  .frame-parent250 {
    @apply absolute left-[calc(50%_-_23.02vw)] flex flex-row items-start justify-start gap-[var(--gap-base)] top-[40.68vw];
  }
  .div186 {
    @apply relative tracking-[-0.02em] leading-[2.78vw] text-[color:var(--color-tomato)] top-[1vw];
  }
  .time-remaining-parent {
    @apply absolute flex flex-row items-center justify-start gap-[var(--gap-xs)] text-[length:var(--font-size-5xl)] left-[75.96vw] top-[0vw];
  }
  .frame-parent248 {
    @apply absolute bg-[color:var(--white)] shadow-[-2px_0_4px_rgba(0,0,0,0.15)] w-[50.66vw] h-[53.7vw] overflow-hidden left-[45.63vw] top-0;
  }
  .q1-problem-statement {
    @apply absolute text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] w-[40vw] h-[40vw] left-[0vw] top-[7vw];
  }
  .frame-parent246 {
    @apply absolute left-[calc(50%_-_48.15vw)] rounded-[var(--br-base)] bg-[color:var(--white)] w-[96.3vw] h-[46.3vw] overflow-hidden top-[9.39vw];
  }
  .test-screen-objective-child {
    @apply absolute w-[45.7vw] h-[0.2vw] left-[1.79vw] top-[14.62vw];
  }
  .hi-priyanshu,
  .welcome-to-fulcrum {
    @apply relative tracking-[-0.02em] leading-[1.59vw];
  }
  .welcome-to-fulcrum {
    @apply text-[length:var(--font-size-15xl)] leading-[2.78vw] text-[color:var(--black)];
  }
  .frame-wrapper97,
  .hi-priyanshu-parent {
    @apply flex flex-col items-start justify-start ml-[0.3vw];
  }
  .frame-wrapper97 {
    @apply w-[21.56vw] flex-row;
    align-items: center;
  }
  .oouinext-ltr-icon2 {
    @apply relative w-[1.06vw] h-[1.06vw] overflow-hidden shrink-0 cursor-pointer;
  }
  .oouinext-ltr-group {
    @apply flex flex-row items-center justify-start gap-[var(--gap-5xs)];
  }
  .frame-child183,
  .frame-child184 {
    @apply relative bg-[color:var(--color-slateblue)] w-[4.63vw] h-[0.53vw] overflow-hidden shrink-0;
  }
  .frame-child184 {
    @apply bg-[color:var(--color-gainsboro-100)];
  }
  .frame-parent253 {
    @apply flex flex-row items-start justify-start gap-[var(--gap-5xs)];
  }
  .next-problem {
    @apply relative text-[length:var(--font-size-xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--purple)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .frame-parent251,
  .frame-parent252,
  .next-problem-parent {
    @apply flex flex-row items-center justify-start;
  }
  .frame-parent252 {
    @apply left-[-2vw];
  }
  .next-problem-parent {
    @apply cursor-pointer bg-transparent gap-[var(--gap-5xs)] p-0 border-0;
  }
  .frame-parent251,
  .frame-parent252 {
    @apply gap-[3.33vw] text-[length:var(--font-size-xl)] text-[var(--icon-grey)_ma];
  }
  .frame-parent251 {
    @apply absolute left-[calc(50%_-_47.69vw)] gap-[24.6vw] text-[length:var(--font-size-base)] text-[color:var(--color-darkslategray-200)] top-[2.91vw];
  }
  .test-screen-objective {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[57.95vw] overflow-hidden text-left text-[length:var(--font-size-9xl)] text-[color:var(--black)];
    font-family: var(--font-avenir-lt-std);
  }
  .tab-button {
    @apply border-[none] w-[8.3vw] bg-transparent mr-2.5 pb-[5px] border-[none];
  }
  .tab-button.active {
    @apply w-[8.3vw] border-[none] border-b-2 border-b-[blue] border-solid;
  }
  .tab-button {
    /* Add some space for the underline */
    /* Add some spacing between tabs */
  }
  .tab-button.active {
    /* Add an underline to the active tab */
  }
  .progress-bar {
    @apply w-[30px] h-2.5 bg-[grey] mr-2.5 rounded-[0.6vw];
  }
  .progress-bar.active {
    @apply bg-[blue];
  }
  .left-wrapper {
    @apply w-[40vw] ml-[48vw];
  }
  