.growth-analysis {
    position: absolute;
    left: 1.32vw
    }
.growth-analysis {
    top: 1.32vw;
    font-size: var(--font-size-5xl);
    letter-spacing: -0.02em;
    line-height: 2.78vw;
    color: var(--color-darkslategray-200);
    text-align: left;
    font-weight: bold
    }
.graph-chart-container {
    width: 40.32vw;
    height: 22.88vw;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
    }
.root-div {
    background-color: var(--white);
    height: 24.8vw;
    border-radius: 20px
    }
    