/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.div104 {
    @apply relative tracking-[-0.02em] leading-[2.78vw] text-[length:var(--font-size-9xl)];
  }
  .dream-company {
    @apply relative tracking-[-0.02em] leading-[2.78vw];
  }
  .dream-company1 {
    @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
  }
  .dream-company-parent {
    @apply w-[19.31vw] flex flex-row items-start justify-between;
  }
  .uiwdate-icon {
    @apply relative w-[1.59vw] h-[1.59vw] overflow-hidden shrink-0;
  }
  .uiwdate-icon1 {
    @apply relative w-[1.59vw] h-[1.59vw] overflow-hidden shrink-0 ml-[-6.8vw];
  }
  .frame-parent144 {
    @apply absolute w-[76.59vw] flex flex-row items-center justify-between left-[21.03vw] top-[9.39vw];
  }
  .riarrow-drop-down-line-icon5 {
    @apply relative w-[1.32vw] h-[1.32vw] overflow-hidden shrink-0;
  }
  .frame-parent145 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] text-[color:var(--icon-grey)] left-[-0.2vw] w-[2vw] top-[4.8vw];
  }
  .attempt-now {
    @apply relative text-[1.05vw] text-[color:var(--purple)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .attempt-now-wrapper {
    @apply cursor-pointer border-[color:var(--purple)] pt-[var(--padding-sm)] pr-[var(--padding-98xl)] pb-[var(--padding-sm)] pl-[var(--padding-98xl)] bg-[color:var(--color-dodgerblue)] absolute left-[calc(50%_-_10.98vw)] rounded-[var(--br-5xs)] overflow-hidden flex flex-row items-center justify-center border-[0.07vw] border-solid top-[6.15vw];
  }
  .students-took-test {
    @apply absolute inline-block w-[11.44vw] opacity-80 left-[1.59vw] top-[1.59vw];
  }
  .frame-parent149 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] w-[24.34vw] h-[10.32vw] overflow-hidden shrink-0;
  }
  .frame-parent148 {
    @apply absolute flex flex-col items-start justify-start gap-[var(--gap-xl)] text-[length:var(--font-size-lg)] text-[color:var(--text)] left-[73.28vw] top-[13.82vw];
  }
  .div128 {
    @apply relative tracking-[-0.02em] leading-[2.78vw] mt-[-1.19vw];
  }
  .wed-parent {
    @apply mt-[-0.13vw];
  }
  .frame-parent154,
  .wed-parent {
    @apply flex flex-col items-center justify-start;
  }
  .test-1 {
    @apply absolute top-[calc(50%_-_1.32vw)] tracking-[-0.02em] leading-[2.78vw] left-[1.72vw];
  }
  .interview-1-wrapper,
  .test-1-wrapper {
    @apply relative rounded-[var(--br-3xs)] w-[18.32vw] h-[2.58vw] overflow-hidden shrink-0;
  }
  .test-1-wrapper {
    @apply bg-[rgba(96,91,255,0.3)] text-[color:var(--purple)];
  }
  .interview-1-wrapper {
    @apply bg-[color:var(--color-sandybrown-100)];
  }
  .frame-parent153,
  .frame-parent155 {
    @apply flex justify-start;
  }
  .frame-parent155 {
    @apply flex-col items-start gap-[var(--gap-5xl)] text-[color:var(--white)];
  }
  .frame-parent153 {
    @apply absolute flex-row items-center gap-[var(--gap-lgi)] left-[1.32vw] top-[4.37vw];
  }
  .view-schedule {
    @apply cursor-pointer underline relative text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)];
  }
  .schedule-parent {
    @apply absolute flex flex-row items-start justify-start gap-[8.93vw] text-[length:var(--font-size-5xl)] text-[color:var(--color-darkslategray-200)] left-[1.32vw] top-[1.32vw];
  }
  .frame-parent152 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] w-[24.74vw] h-[18.12vw] overflow-hidden shrink-0 text-[color:var(--color-gray-200)];
  }
  .upcoming-interview {
    @apply relative text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--color-darkslategray-200)] font-[bold];
  }
  .phclock-parent,
  .upcoming-interview-parent {
    @apply flex flex-row items-center justify-start gap-[var(--gap-xs)];
  }
  .phclock-parent1 {
    @apply flex flex-col items-center justify-start gap-[var(--gap-xs)];
  }
  .upcoming-interview-parent {
    @apply flex-col items-start gap-[var(--gap-9xs)];
  }
  .schedule-interview {
    @apply relative text-[1.05vw] text-[color:var(--white)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .icbaseline-plus-parent12 {
    @apply cursor-pointer pt-[var(--padding-xs)] pr-[var(--padding-5xl)] pb-[var(--padding-xs)] pl-[var(--padding-5xl)] bg-[color:var(--purple)] rounded-[var(--br-5xs)] w-[21.96vw] overflow-hidden flex flex-row items-center justify-center box-border gap-[var(--gap-7xs)] border-0;
  }
  .frame-parent156 {
    @apply absolute flex flex-col items-start justify-start gap-[var(--gap-13xl)] left-[1.32vw] top-[1.32vw];
  }
  .frame-wrapper66 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] w-[24.6vw] h-[18.19vw] overflow-hidden shrink-0;
  }
  .frame-parent151,
  .frame-wrapper65 {
    @apply flex justify-start;
  }
  .frame-wrapper65 {
    @apply h-[18.19vw] flex-col items-start text-[color:var(--icon-grey)];
  }
  .frame-parent151 {
    @apply absolute flex-row items-center gap-[var(--gap-xl)] text-[length:var(--font-size-xl)] text-[color:var(--color-darkslategray-200)] left-[21.03vw] top-[44.18vw];
  }
  .dream-company-company {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-5xl)] text-[color:var(--icon-grey)];
    font-family: var(--font-avenir-lt-std);
  }
  