/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.my-profile7 {
    @apply absolute tracking-[-0.02em] leading-[2.78vw] font-[bold] left-[19.18vw] top-[2.12vw];
  }
  .email-address-container {
    @apply flex flex-col items-start justify-start;
  }
  .change-password3 {
    @apply underline relative text-[length:var(--font-size-sm)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)];
  }
  .password-parent1 {
    @apply w-[20.04vw] flex flex-row items-start justify-between;
  }
  .div147 {
    @apply absolute top-[-0.26vw] tracking-[-0.02em] leading-[2.78vw] left-0;
  }
  .carbonview-off-icon2 {
    @apply absolute w-[1.32vw] h-[1.32vw] overflow-hidden left-[18.19vw] top-[0.73vw];
  }
  .parent21 {
    @apply relative w-[20.04vw] h-[2.78vw] mt-[-0.26vw] text-[length:var(--font-size-17xl)] text-[color:var(--icon-grey)];
  }
  .frame-parent198 {
    @apply w-[20.04vw] flex flex-col items-start justify-start;
  }
  .college-name,
  .indian-institute-of {
    @apply relative tracking-[-0.02em] leading-[2.78vw];
  }
  .college-name {
    @apply font-[bold];
  }
  .indian-institute-of {
    @apply text-[color:var(--icon-grey)] w-[12vw] font-[light] rounded-[0.8vw];
  }
  .frame-parent197 {
    @apply flex flex-col items-start justify-start gap-[var(--gap-xl)];
  }
  .machine-learning5 {
    @apply relative inline-block w-[7.21vw] h-[0.99vw] shrink-0 font-[light];
  }
  .machine-learning-wrapper1 {
    @apply rounded-[var(--br-5xl)] border-[color:var(--purple)] overflow-hidden flex flex-row items-end justify-center pt-[var(--padding-6xs)] pr-[var(--padding-2xs)] pb-[var(--padding-6xs)] pl-[var(--padding-2xs)] border-[0.07vw] border-solid;
  }
  .frame-parent200,
  .skills-container {
    @apply flex items-start justify-start;
  }
  .frame-parent200 {
    @apply w-[20.24vw] flex-row flex-wrap gap-[var(--gap-xs)] text-[length:var(--font-size-sm)] text-[color:var(--purple)];
  }
  .skills-container {
    @apply flex-col gap-[var(--gap-9xs)];
  }
  .delete-account2,
  .this-will-permanently2 {
    @apply relative text-[length:var(--font-size-base)];
  }
  .this-will-permanently2 {
    @apply tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)] mt-[-0.26vw];
  }
  .delete-account2 {
    @apply text-[color:var(--danger)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .delete-account-frame {
    @apply cursor-pointer pt-[var(--padding-4xs)] pr-[var(--padding-xs)] pb-[var(--padding-4xs)] pl-[var(--padding-xs)] bg-[color:var(--color-crimson-200)] rounded-[var(--br-5xs)] flex-row border-0;
  }
  .delete-account-frame,
  .frame-parent196,
  .frame-parent201 {
    @apply flex items-start justify-start;
  }
  .frame-parent201 {
    @apply w-[20.24vw] flex-col gap-[var(--gap-5xs)];
  }
  .frame-parent196 {
    @apply absolute flex-row gap-[var(--gap-118xl)] text-[length:var(--font-size-lg)] left-[19.71vw] top-[7.01vw];
  }
  .tableredit-icon2 {
    @apply relative w-[1.06vw] h-[1.06vw] overflow-hidden shrink-0;
  }
  .edit2 {
    @apply relative text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .tableredit-container {
    @apply flex flex-row items-center justify-start gap-[var(--gap-5xs)];
  }
  .frame-wrapper80,
  .rectangle-parent4 {
    @apply absolute bg-[color:var(--white)];
  }
  .frame-wrapper80 {
    @apply cursor-pointer pt-[var(--padding-9xs)] pr-[var(--padding-base)] pb-[var(--padding-9xs)] pl-[var(--padding-base)] rounded-[var(--br-xs)] shadow-[-0.13vw_-0.13vw_0.13vw_rgba(0,0,0,0.08),0.13vw_0.13vw_0.13vw_rgba(0,0,0,0.08)] flex flex-row items-start justify-start border-0 left-[68.85vw] top-[1.85vw];
  }
  .rectangle-parent4 {
    @apply rounded-[var(--br-base)] w-[76.59vw] h-[48.54vw] overflow-hidden left-[21.03vw] top-[14.29vw];
  }
  .settings6 {
    @apply absolute text-[length:var(--font-size-9xl)] tracking-[-0.02em] leading-[2.78vw] font-[bold] left-[21.03vw] top-[10.45vw];
  }
  .settings5 {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-5xl)] text-[color:var(--black)];
    font-family: var(--font-avenir-lt-std);
  }
  .close-button {
    @apply ml-[0.2vw] mb-[0.15vw];
  }
  