/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.password-login {
    @apply relative;
  }
  .frame-child6-login,
  .password-wrapper-login {
    @apply w-[31.2vw] flex flex-row items-center justify-start;
  }
  .frame-child6-login {
    @apply border-[color:var(--color-gainsboro-300-login)] text-[length:var(--body-heavy-size-login)] bg-transparent rounded-[var(--br-xs-login)] box-border justify-between pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] border-[0.06vw] border-solid;
    font-family: var(--h1-heavy-login);
  }
  .confirm-password-parent-login,
  .frame-parent16-login,
  .frame-wrapper10-login {
    @apply flex flex-col items-start justify-start;
  }
  .confirm-password-parent-login,
  .frame-parent16-login {
    @apply gap-[var(--gap-5xs-login)];
  }
  .frame-parent16-login {
    @apply absolute gap-[var(--gap-7xl-login)] left-[4.8vw] top-[18.91vw];
  }
  .continue1-login {
    @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--color-white-login)] text-left;
    font-family: var(--h1-heavy-login);
  }
  .continue-container-login,
  .frame-wrapper11-login {
    @apply flex flex-row items-end justify-center;
  }
  .frame-wrapper11-login {
    @apply cursor-pointer pt-[var(--padding-xl-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-xl-login)] pl-[var(--padding-5xl-login)] bg-[color:var(--purple-login)] rounded-[var(--br-xs-login)] w-[31.2vw] items-center justify-between box-border border-0;
  }
  .sign-in2-login {
    @apply text-[color:var(--purple-login)];
  }
  .already-have-an-container2-login {
    @apply cursor-pointer no-underline relative text-inherit;
  }
  .frame-parent18-login {
    @apply absolute flex flex-col items-center justify-start gap-[var(--gap-33xl-login)] text-[length:var(--font-size-base-login)] left-[4.8vw] top-[43.26vw];
  }
  .sign-up-as-individual1-login {
    @apply relative bg-[color:var(--color-white-login)] w-full h-[56.12vw] overflow-hidden text-left text-[length:var(--body-heavy-size-login)] text-[color:var(--black-login)];
    font-family: var(--h1-heavy-login);
  }
  