/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.flat-color-iconsgoogle-login {
    @apply relative w-[1.6vw] h-[1.6vw] overflow-hidden shrink-0;
  }
  .login-with-google-login {
    @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--black-login)] text-left;
    font-family: var(--h1-heavy-login);
  }
  .flat-color-iconsgoogle-parent-login {
    @apply flex flex-row items-end justify-center gap-[var(--gap-mini-login)];
  }
  .frame-wrapper1-login,
  .frame-wrapper2-login {
    @apply cursor-pointer border-[color:var(--color-gainsboro-300-login)] pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] bg-transparent rounded-[var(--br-xs-login)] flex flex-row items-center justify-center border-[0.06vw] border-solid;
  }
  .frame-wrapper2-login {
    @apply box-border w-[14.8vw];
  }
  .frame-parent5-login {
    @apply flex flex-row items-start justify-start gap-[var(--gap-9xl-login)];
  }
  .frame-item-login {
    @apply border-t-[color:var(--color-gainsboro-400-login)] box-border w-[14.86vw] h-[0.06vw] border-t-[0.06vw] border-solid;
  }
  .frame-item-login,
  .or-login {
    @apply relative;
  }
  .line-parent-login {
    @apply flex flex-row items-center justify-start gap-[var(--gap-7xs-login)];
  }
  .frame-input-login {
    @apply border-[color:var(--color-silver-login)] bg-transparent rounded-[var(--br-xs-login)] box-border w-[3.54vw] h-[3.89vw] flex items-center justify-center text-center border-[0.06vw] border-solid;
  }
  .enter-the-code-parent-login,
  .frame-parent8-login {
    @apply flex flex-row items-center justify-start gap-[var(--gap-base-login)];
  }
  .enter-the-code-parent-login {
    @apply flex-col items-start gap-[var(--gap-xs-login)];
  }
  .login-login {
    @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--color-white-login)] text-left;
    font-family: var(--h1-heavy-login);
  }
  .frame-wrapper3-login,
  .login-wrapper-login {
    @apply flex flex-row items-end justify-center;
  }
  .frame-wrapper3-login {
    @apply cursor-pointer pt-[var(--padding-xl-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-xl-login)] pl-[var(--padding-5xl-login)] bg-[color:var(--purple-login)] rounded-[var(--br-xs-login)] w-[31.2vw] items-center justify-between box-border border-0;
  }
  .sign-up-for-login {
    @apply text-[color:var(--purple-login)];
  }
  .new-to-fulcrum-container-login {
    @apply cursor-pointer no-underline relative text-inherit;
  }
  .frame-parent9-login {
    @apply flex flex-col items-center justify-start gap-[var(--gap-37xl-login)] text-[length:var(--font-size-base-login)];
  }
  .cantileverlogoblack-2-group-login,
  .frame-parent2-login,
  .frame-parent3-login,
  .frame-parent7-login {
    @apply flex flex-col items-start justify-start;
  }
  .frame-parent7-login {
    @apply gap-[10.28vw] text-[length:var(--body-heavy-size-login)] text-[color:var(--black-login)];
  }
  .cantileverlogoblack-2-group-login,
  .frame-parent2-login,
  .frame-parent3-login {
    @apply gap-[var(--gap-13xl-login)];
  }
  .cantileverlogoblack-2-group-login,
  .frame-parent2-login {
    @apply gap-[var(--gap-36xl-login)];
  }
  .cantileverlogoblack-2-group-login {
    @apply absolute gap-[var(--gap-41xl-login)] left-[4.8vw] top-[5.38vw];
  }
  .login-with-code-login {
    @apply relative bg-[color:var(--color-white-login)] w-full h-[56.12vw] overflow-hidden text-left text-[length:var(--font-size-base-login)] text-[color:var(--color-gray-100-login)];
    font-family: var(--h1-heavy-login);
  }
  