.view-more {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: -0.02em;
    line-height: 2.78vw;
    font-family: var(--font-avenir-lt-std);
    color: var(--icon-grey);
    text-align: left
    }
.riarrow-drop-down-line-icon {
    position: relative;
    width: 1.32vw;
    height: 1.32vw;
    overflow: hidden;
    flex-shrink: 0
    }
.view-more-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 28.04vw;
    left: calc(50% - 2.98vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs)
    }
.frame-parent45 {
    position: absolute;
    top: 31.54vw;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl)
    }
.add-students3 {
    position: relative;
    font-size: 1.05vw;
    font-family: var(--font-avenir-lt-std);
    color: var(--white);
    text-align: left
    }
.icbaseline-plus-container {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--purple);
    position: absolute;
    top: 1.32vw;
    left: 62.37vw;
    border-radius: var(--br-5xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-7xs)
    }
.frame-parent38 {
    position: absolute;
    top: 9.13vw;
    left: 21.03vw;
    border-radius: var(--br-base);
    background-color: var(--white);
    width: 76.59vw;
    height: 31.55vw
    }
.dashboard-admin {
    position: relative;
    background-color: var(--color-ghostwhite-100);
    width: 100%;
    height: 64.95vw;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray-200);
    font-family: var(--font-avenir-lt-std)
    }