/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.forgot-your-password1-login,
.no-worries-fill-login {
  @apply relative;
}
.no-worries-fill-login {
  @apply text-[length:var(--font-size-5xl-login)];
}
.cantileverlogoblack-2-parent1-login,
.forgot-your-password-parent-login {
  @apply flex flex-col items-start justify-start gap-[var(--gap-9xs-login)];
}
.cantileverlogoblack-2-parent1-login {
  @apply gap-[var(--gap-41xl-login)];
}
.frame-child18-login {
  @apply border-[color:var(--color-gainsboro-300-login)] text-[length:var(--body-heavy-size-login)] bg-transparent rounded-[var(--br-xs-login)] box-border w-[31.2vw] flex flex-row items-center justify-start pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] border-[0.06vw] border-solid;
  font-family: var(--h1-heavy-login);
}
.email-container-login {
  @apply gap-[var(--gap-xs-login)];
}
.email-container-login,
.frame-parent37-login,
.frame-wrapper22-login {
  @apply flex flex-col items-start justify-start;
}
.frame-wrapper22-login {
  @apply text-[length:var(--body-heavy-size-login)];
}
.frame-parent37-login {
  @apply gap-[4.8vw];
}
.submit-login {
  @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--color-white-login)] text-left;
  font-family: var(--h1-heavy-login);
}
.frame-wrapper23-login,
.submit-wrapper-login {
  @apply flex flex-row items-end justify-center;
}
.frame-wrapper23-login {
  @apply cursor-pointer pt-[var(--padding-xl-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-xl-login)] pl-[var(--padding-5xl-login)] bg-[color:var(--purple-login)] rounded-[var(--br-xs-login)] w-[31.2vw] items-center justify-between box-border border-0;
}
.sign-up-for3-login {
  @apply text-[color:var(--purple-login)];
}
.new-to-fulcrum-container3-login {
  @apply cursor-pointer no-underline relative text-inherit;
}
.frame-parent36-login,
.frame-parent38-login {
  @apply flex flex-col justify-start;
}
.frame-parent38-login {
  @apply items-center gap-[var(--gap-37xl-login)] text-[length:var(--font-size-base-login)];
}
.frame-parent36-login {
  @apply absolute items-start gap-[17.32vw] left-[4.8vw] top-[5.38vw];
}
.forgot-your-password-login {
  @apply relative bg-[color:var(--color-white-login)] w-full h-[56.12vw] overflow-hidden text-left text-[length:var(--h1-heavy-size-login)] text-[color:var(--black-login)];
  font-family: var(--h1-heavy-login);
}
