/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.resume1 {
    @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
  }
  .resume-container {
    @apply absolute flex flex-col items-start justify-start left-[1.59vw] top-[1.59vw];
  }
  .icbaseline-plus-icon16 {
    @apply relative w-[1.32vw] h-[1.32vw] overflow-hidden shrink-0;
  }
  .create-new-resume {
    @apply relative text-[1.05vw] text-[color:var(--white)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .icbaseline-plus-parent14 {
    @apply cursor-pointer pt-[var(--padding-xs)] pr-[var(--padding-5xl)] pb-[var(--padding-xs)] pl-[var(--padding-5xl)] bg-[color:var(--purple)] absolute rounded-[var(--br-5xs)] overflow-hidden flex flex-row items-center justify-center gap-[var(--gap-7xs)] border-0 left-[59.79vw] top-[1.32vw];
  }
  .created-on-23-04-23 {
    @apply relative text-[length:var(--font-size-sm)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--icon-grey)] text-left mt-[-1.06vw];
    font-family: var(--font-avenir-lt-std);
  }
  .resume-sde1 {
    @apply relative text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .resume-sde1-parent {
    @apply absolute flex flex-col items-start justify-start left-[1.32vw] top-[9.72vw];
  }
  .image-82-icon,
  .image-82-wrapper {
    @apply absolute left-[calc(50%_-_11.54vw)] top-0;
  }
  .image-82-icon {
    @apply w-[24.8vw] h-[20.37vw] object-cover;
  }
  .image-82-wrapper {
    @apply rounded-[var(--br-base)_var(--br-base)_0_0] shadow-[0_0.13vw_0.13vw_rgba(0,0,0,0.1)] w-[23.08vw] h-[8.53vw] overflow-hidden;
  }
  .phdots-three-icon14 {
    @apply absolute w-[1.85vw] h-[1.85vw] overflow-hidden left-[19.91vw] top-[11.04vw];
  }
  .frame-parent161 {
    @apply cursor-pointer bg-[color:var(--white)] relative rounded-[var(--br-base)] shadow-[-0.13vw_0_0_rgba(0,0,0,0.1),0.13vw_-0.13vw_0_rgba(0,0,0,0.1),0_0.2vw_0_#605bff] w-[23.08vw] h-[15.01vw] overflow-hidden shrink-0 p-0 border-0;
  }
  .image-85-icon,
  .image-87-icon {
    @apply absolute left-[calc(50%_-_11.54vw)] w-[23.08vw] h-[28.84vw] object-cover top-0;
  }
  .image-87-icon {
    @apply h-[32.54vw];
  }
  .frame-parent160 {
    @apply absolute w-[72.62vw] flex flex-row flex-wrap items-start justify-start gap-[var(--gap-5xl)] left-[1.59vw] top-[6.08vw];
  }
  .frame-parent159 {
    @apply absolute rounded-[var(--br-base)] bg-[color:var(--white)] w-[76.59vw] h-[53.7vw] left-[21.03vw] top-[9.13vw];
  }
  .resume-dashboard-individual {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-9xl)] text-[color:var(--black)];
    font-family: var(--font-avenir-lt-std);
  }
  