/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.cantileverlogoblack-2-parent-login {
  @apply flex flex-col items-start justify-start gap-[var(--gap-41xl-login)];
}
.sign-up-login {
  @apply relative;
}
.tdesigninstitution-icon-login {
  @apply relative w-[1.83vw] h-[1.83vw] overflow-hidden shrink-0;
}
.tdesigninstitution-wrapper-login {
  @apply flex flex-row items-start justify-start p-[0.29vw];
}
.as-an-institution-login {
  @apply relative text-[length:var(--font-size-5xl-login)] text-[color:var(--black-login)] text-left;
  font-family: var(--h1-heavy-login);
}
.frame-div-login {
  @apply absolute flex flex-col items-start justify-start gap-[var(--gap-base-login)] left-[1.37vw] top-[1.55vw];
}
.frame-button-login,
.frame-child-login {
  @apply border-[color:var(--color-gainsboro-300-login)] box-border border-[0.06vw] border-solid;
}
.frame-child-login {
  @apply absolute w-[1.60vw] h-[1.60vw] rounded-[50%] left-[12.39vw] top-[0.91vw];
}
.frame-button-login {
  @apply cursor-pointer bg-transparent relative rounded-[var(--br-xs-login)] w-[14.91vw] h-[8.40vw] overflow-hidden shrink-0 p-0;
}
.frame-container-login,
.sign-up-parent-login {
  @apply flex items-start justify-start;
}
.frame-container-login {
  @apply flex-row gap-[1.42vw];
}
.sign-up-parent-login {
  @apply flex-col gap-[var(--gap-base-login)];
}
.continue-as-individual-login {
  @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--color-white-login)] text-left;
  font-family: var(--h1-heavy-login);
}
.continue-as-individual-wrapper-login,
.frame-wrapper-login {
  @apply flex flex-row items-end justify-center;
}
.frame-wrapper-login {
  @apply cursor-pointer pt-[var(--padding-xl-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-xl-login)] pl-[var(--padding-5xl-login)] bg-[color:var(--purple-login)] rounded-[var(--br-xs-login)] w-[31.20vw] items-center justify-between box-border border-0;
}
.sign-in-login {
  @apply text-[color:var(--purple-login)];
}
.already-have-an-container-login {
  @apply cursor-pointer no-underline relative text-inherit;
}
.frame-group-login,
.frame-parent-login,
.frame-parent1-login {
  @apply flex flex-col justify-start;
}
.frame-parent1-login {
  @apply items-center gap-[var(--gap-33xl-login)] text-[length:var(--font-size-base-login)];
}
.frame-group-login,
.frame-parent-login {
  @apply items-start;
}
.frame-group-login {
  @apply gap-[13.37vw];
}
.frame-parent-login {
  @apply absolute gap-[var(--gap-41xl-login)] left-[4.80vw] top-[5.38vw];
}
.sign-up-as-login {
  @apply relative bg-[color:var(--color-white-login)] w-full h-[56.12vw] overflow-hidden text-left text-[length:var(--font-size-5xl-login)] text-[color:var(--black-login)];
  font-family: var(--h1-heavy-login);
}
