/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.fill-in-the1,
.schedule-an-interview {
  @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
}
.fill-in-the1 {
  @apply text-[length:var(--font-size-lg)] text-[color:var(--icon-grey)] mt-[-0.53vw];
}
.frame-child165,
.schedule-an-interview-parent {
  @apply flex flex-col items-start justify-start;
}
.frame-child165 {
  @apply border-[color:var(--color-gainsboro-400)] text-[length:var(--font-size-xl)] bg-transparent rounded-[var(--br-xs)] box-border w-[20.11vw] flex-row items-center pt-[var(--padding-base)] pr-[var(--padding-5xl)] pb-[var(--padding-base)] pl-[var(--padding-5xl)] border-[0.07vw] border-solid;
  font-family: var(--font-avenir-lt-std);
}
.frame-parent218,
.job-profile-group {
  @apply flex flex-col items-start justify-start gap-[var(--gap-xs)];
}
.frame-parent218 {
  @apply flex-row;
}
.select-interview-date {
  @apply relative;
}
.frame-child167 {
  @apply border-[color:var(--color-gainsboro-400)] text-[length:var(--font-size-xl)] bg-transparent rounded-[var(--br-xs)] box-border w-[20.11vw] flex flex-row items-center justify-between pt-[var(--padding-base)] pr-[var(--padding-5xl)] pb-[var(--padding-base)] pl-[var(--padding-5xl)] border-[0.07vw] border-solid;
  font-family: var(--font-avenir-lt-std);
}
.frame-parent216,
.frame-parent217 {
  @apply flex flex-col items-start justify-start;
}
.frame-parent217 {
  @apply gap-[var(--gap-17xl)] text-[length:var(--font-size-lg)];
}
.frame-parent216 {
  @apply gap-[var(--gap-5xl)];
}
.schedule-interview3 {
  @apply relative text-[length:var(--font-size-xl)] text-[color:var(--white)] text-left font-[bold];
  font-family: var(--font-avenir-lt-std);
}
.solarplay-bold-icon1 {
  @apply relative w-[1.06vw] h-[1.06vw] overflow-hidden shrink-0;
}
.schedule-interview-parent {
  @apply rounded-[var(--br-5xs)] bg-[color:var(--color-mediumseagreen)] overflow-hidden flex flex-row items-center justify-center pt-[var(--padding-base)] pr-[var(--padding-xl)] pb-[var(--padding-base)] pl-[var(--padding-xl)] gap-[var(--gap-3xs)] cursor-pointer;
}
.frame-parent215,
.frame-wrapper88 {
  @apply flex items-start justify-start;
}
.frame-wrapper88 {
  @apply cursor-pointer bg-transparent flex-row p-0 border-0;
}
.frame-parent215 {
  @apply absolute left-[calc(50%_-_20.5vw)] flex-col gap-[var(--gap-29xl)] top-[2.38vw];
}
.vector-icon32 {
  @apply absolute h-[34%] w-[34.01%] max-w-full overflow-hidden max-h-full left-[33%] right-[32.99%] top-[32.99%] bottom-[33%];
}
.basilcross-outline10 {
  @apply cursor-pointer bg-transparent absolute w-[2.12vw] h-[2.12vw] overflow-hidden p-0 border-0 left-[40.34vw] top-[2.12vw];
}
.interviewpopup {
  @apply rounded-[var(--br-base)] bg-[color:var(--white)] w-[44.31vw] h-[32.21vw] overflow-hidden max-w-full max-h-full text-left text-[1.56vw] text-[color:var(--black)] absolute left-[30vw] top-[20vw];
  font-family: var(--font-avenir-lt-std);
}
