/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.cantileverlogoblack-2-icon21 {
    @apply absolute left-[calc(50%_-_7.21vw)] w-[11.77vw] h-[2.45vw] object-cover top-[2.91vw];
  }
  .phstar-icon15 {
    @apply relative w-[1.32vw] h-[1.32vw] overflow-hidden shrink-0;
  }
  .my-go-score15 {
    @apply relative text-[length:var(--font-size-xl)] text-[color:var(--purple)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .phstar-parent13 {
    @apply absolute top-[calc(50%_-_0.79vw)] flex flex-row items-center justify-start gap-[var(--gap-base)] left-[2.91vw];
  }
  .frame-child251 {
    @apply absolute top-[calc(50%_-_1.69vw)] left-[calc(50%_-_8.8vw)] rounded-[var(--br-9xs)] w-[17.59vw] h-[3.44vw] opacity-10;
  }
  .frame-parent366 {
    @apply relative overflow-hidden shrink-0 cursor-pointer bg-transparent rounded-[0_var(--br-5xs)_var(--br-5xs)_0] w-[19.18vw] h-[4.03vw] p-0 border-0;
  }
  .frame-parent366select {
    @apply relative overflow-hidden shrink-0 cursor-pointer bg-[#efefff] rounded-[0_var(--br-5xs)_var(--br-5xs)_0] w-[19.18vw] h-[4.03vw] p-0 border-0;
  }
  .interviews16 {
    @apply relative text-[length:var(--font-size-xl)] text-[color:var(--icon-grey)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .frame-parent365 {
    @apply absolute flex flex-col items-start justify-start left-0 top-[8.53vw];
  }
  .frame-wrapper225 {
    @apply cursor-pointer bg-transparent absolute rounded-[0_var(--br-5xs)_var(--br-5xs)_0] w-[19.18vw] h-[4.03vw] overflow-hidden p-0 border-0 left-0 bottom-[2.65vw];
  }
  .lauser-friends-icon {
    @apply relative w-[2.12vw] h-[2.12vw] overflow-hidden shrink-0;
  }
  .refer-and-earn {
    @apply relative text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[1.59vw] text-[color:var(--color-darkslategray-100)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .refer-and-earn1 {
    @apply relative text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[1.59vw] text-[color:var(--color-darkslategray-100)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .frame-wrapper226,
  .lauser-friends-parent,
  .refer-and-earn-parent {
    @apply flex flex-col items-start justify-start;
  }
  .lauser-friends-parent {
    @apply gap-[var(--gap-3xs)];
  }
  .frame-wrapper226 {
    @apply cursor-pointer pt-[var(--padding-base)] pr-[var(--padding-sm)] pb-[var(--padding-base)] pl-[var(--padding-sm)] bg-[color:var(--color-lavender)] rounded-[var(--br-xs)] w-[14.68vw] overflow-hidden box-border border-0;
  }
  .illustration-child13 {
    @apply absolute w-[14.68vw] h-[10.65vw] left-0 top-0;
  }
  .upgrade-to-pro16 {
    @apply relative font-[bold];
  }
  .get-exclusive-dashboard15 {
    @apply relative text-[length:var(--font-size-sm)];
  }
  .upgrade-to-pro-parent13 {
    @apply flex flex-col items-center justify-start gap-[var(--gap-5xs)];
  }
  .upgrade-now15 {
    @apply relative text-[1.05vw] text-[color:var(--white)] text-left;
    font-family: var(--font-avenir-lt-std);
  }
  .upgrade-now-wrapper13 {
    @apply cursor-pointer pt-[var(--padding-xs)] pr-[var(--padding-21xl)] pb-[var(--padding-xs)] pl-[var(--padding-21xl)] bg-[color:var(--purple)] rounded-[var(--br-5xs)] overflow-hidden flex flex-row items-center justify-center border-0;
  }
  .frame-parent368 {
    @apply absolute top-[calc(50%_-_3.67vw)] flex flex-col items-center justify-start gap-[var(--gap-lgi)] left-[1.32vw];
  }
  .illustration15 {
    @apply relative w-[14.68vw] h-[10.52vw];
  }
  .frame-parent367 {
    @apply absolute flex flex-col items-start justify-start gap-[var(--gap-xl)] left-[2.25vw] top-[35.12vw];
  }
  .cantileverlogoblack-2-parent19 {
    @apply absolute bg-[color:var(--white)] w-[19.18vw] h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-xl)] text-[color:var(--black)] left-0 top-0;
    font-family: var(--font-avenir-lt-std);
  }
  