.fulcrum-assessment-test,
.instructions {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.78vw;
}
.instructions {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-lg);
  font-family: var(--font-avenir-lt-std);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.instructions-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.92vw;
}
.frame-child176 {
  position: relative;
  width: 34.72vw;
  height: 0.23vw;
}
.frame-parent236 {
  width: 34.72vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.please-ensure-that {
  margin-bottom: 0;
}
.please-ensure-that-you-have-a {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.please-ensure-that-container {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.38vw;
}
.frame-parent235 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.rectangle-input {
  position: relative;
  border-radius: 0.13vw;
  border: 0.07vw solid var(--icon-grey);
  box-sizing: border-box;
  width: 1.12vw;
  height: 1.12vw;
}
.terms-and-conditions {
  color: var(--purple);
}
.i-agree-to-container {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.rectangle-parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.start-now2 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--white);
  text-align: left;
  display: inline-block;
  width: 6.35vw;
  flex-shrink: 0;
}
.solarplay-bold-icon4 {
  position: relative;
  width: 1.06vw;
  height: 1.06vw;
  overflow: hidden;
  flex-shrink: 0;
}
.start-now-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-5xs);
  width: 10.52vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-parent237 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7.61vw;
  font-size: var(--font-size-base);
  font-family: var(--font-avenir-lt-std);
}
.frame-parent234,
.fulcrum-assessment-test-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent234 {
  gap: var(--gap-17xl);
  font-size: var(--font-inherit);
  color: var(--icon-grey);
  font-family: var(--font-inherit);
}
.fulcrum-assessment-test-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.56vw;
 transform:translate(-50%,-50%);
}
.vector-icon37 {
  position: absolute;
  height: 34%;
  width: 34.01%;
  top: 32.99%;
  right: 32.99%;
  bottom: 33.01%;
  left: 33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.basilcross-outline14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.85vw;
  left: 36.18vw;
  width: 2.65vw;
  height: 2.65vw;
  overflow: hidden;
}
.fastpopup {
  border-radius: var(--br-base);
  background-color: var(--white);
  width: 40.67vw;
  height: 27.25vw;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--black);
  font-family: var(--font-avenir-lt-std);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.56vw;
 transform:translate(-50%,-50%);
}
