.cantileverlogoblack-2-icon8 {
    position: absolute;
    top: 2.91vw;
    left: calc(50% - 7.21vw);
    width: 11.77vw;
    height: 2.45vw;
    object-fit: cover;
}

.frame-child217 {
    position: absolute;
    top: calc(50% - 1.69vw);
    left: calc(50% - 8.80vw);
    border-radius: var(--br-9xs);
    background-color: var(--purple);
    width: 17.59vw;
    height: 3.44vw;
    opacity: 0.1;
}

.teenyiconshome-solid2 {
    position: relative;
    width: 0.99vw;
    height: 0.99vw;
    overflow: hidden;
    flex-shrink: 0;
}

.home7 {
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-avenir-lt-std);
    color: var(--purple);
    text-align: left;
}

.transaction5 {
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-avenir-lt-std);
    color: var(--icon-grey);
    text-align: left;
}

.teenyiconshome-solid-container {
    position: absolute;
    top: calc(50% - 0.79vw);
    left: 2.91vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.grommet-iconstransaction4,
.rectangle-parent9 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.rectangle-parent9 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    width: 19.18vw;
    height: 4.03vw;
}

.grommet-iconstransaction4 {
    width: 1.32vw;
    height: 1.32vw;
}

.frame-parent296 {
    position: absolute;
    top: 8.53vw;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cantileverlogoblack-2-parent6,
.frame-wrapper140 {
    position: absolute;
    left: 0;
    width: 19.18vw;
    overflow: hidden;
}

.frame-wrapper140 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    bottom: 2.65vw;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    height: 4.03vw;
}

.cantileverlogoblack-2-parent6 {
    top: 0;
    background-color: var(--white);
    height: 64.95vw;
}
