.my-go-score1 {
    position: absolute;
    top: 1.32vw;
    left: 1.32vw;
    letter-spacing: -0.02em;
    line-height: 2.78vw
    }
.ellipse-group {
    position: absolute;
    top: 5.69vw;
    left: 2.38vw;
    width: 9.45vw;
    height: 9.39vw
    }
.accuracy {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 2.78vw
    }
.accuracy-parent, .frame-parent17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.07vw;
    font-weight: bold
    }
.frame-parent17 {
    position: absolute;
    top: 6.15vw;
    left: 13.36vw;
    flex-direction: row;
    gap: 0.53vw;
    font-size: 1.06vw
    }
.my-go-score-parent {
    position: relative;
    border-radius: 1.06vw;
    background-color: #605bff;
    width: 24.34vw;
    height: 17.46vw;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 1.59vw;
    color: #fff;
    font-family: "Avenir LT Std"
    }
.accuracy-parent1 {
    font-weight: normal
    }