.overall-analysis {
    position: absolute;
    top: 1.32vw;
    left: 1.32vw;
    font-size: 1.59vw;
    letter-spacing: -0.02em;
    line-height: 2.78vw;
    color: #353535;
    margin-top: 0.5vw;
    font-weight: bold
    }
.parent2 {
    position: relative;
    border-radius: 1.06vw;
    background-color: #fff;
    width: 34.5vw;
    height: 24.88vw;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 0.66vw;
    color: #1d2129;
    font-family: "Avenir LT Std";
    margin-left: 0.4vw
    }
.pentagon-chart-container {
    width: 40.32vw;
    height: 25.88vw;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 35px;
    margin-left: -2vw
    }