.frame-child250 {
    position: absolute;
    top: calc(50% - 24.34vw);
    left: 0;
    background-color: var(--white);
    box-shadow: 0.07vw 0 0.26vw rgba(0, 0, 0, 0.15);
    width: 17.33vw;
    height: 48.68vw
    }
.my-profile6 {
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-avenir-lt-std);
    color: var(--purple);
    text-align: left;
    font-weight: bold
    }
.my-profile-wrapper1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-base);
    background-color: var(--color-mediumslateblue-200);
    top: 0;
    left: 0;
    border-radius: var(--br-16xl);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
    }
.password5 {
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-avenir-lt-std);
    color: var(--icon-grey);
    text-align: left;
    left: 1.2vw
    }
.frame-parent195, .password-wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
    }
.password-wrapper1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent
    }
.frame-parent195 {
    position: absolute;
    gap: var(--gap-xl)
    }
.frame-parent194 {
    position: absolute;
    top: 3.17vw;
    left: 2.65vw;
    width: 8.47vw;
    height: 8.99vw
    }