.upload-list-of-login {
    position: relative;
    font-size: var(--body-heavy-size-login);
    text-decoration: underline;
    font-family: var(--h1-heavy-login);
    color: var(--black-login);
    text-align: left
    }
.biupload-icon-login {
    position: relative;
    width: 0.97vw;
    height: 0.97vw;
    overflow: hidden;
    flex-shrink: 0
    }
.upload-list-of-students-parent-login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs-login)
    }
.csv-xlsx-json-login {
    position: relative;
    font-size: 0.81vw;
    font-family: var(--h1-heavy-login);
    color: var(--icon-grey-login);
    text-align: left
    }
.csv-xlsx-json-file-are-allow-wrapper-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
    }
.frame-parent10-login {
    flex-direction: column;
    gap: var(--gap-5xs-login)
    }
.frame-parent10-login, .frame-wrapper4-login, .sign-up-as-institute3-inner-login {
    display: flex;
    align-items: center;
    justify-content: center
    }
.frame-wrapper4-login {
    cursor: pointer;
    border: 0.06vw dashed rgba(33-login, 33-login, 33-login, 0.8);
    padding: var(--padding-base-login) var(--padding-5xl-login);
    background-color: transparent;
    border-radius: var(--br-xs-login);
    box-sizing: border-box;
    width: 31.2vw;
    height: 6.62vw;
    flex-direction: row
    }
.sign-up-as-institute3-inner-login {
    position: absolute;
    top: 18.91vw;
    left: 4.8vw;
    flex-direction: column
    }
.skip-for-now-login {
    position: relative;
    font-size: var(--body-heavy-size-login);
    font-family: var(--h1-heavy-login);
    color: var(--purple-login);
    text-align: left
    }
.frame-wrapper6-login, .skip-for-now-wrapper-login {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center
    }
.frame-wrapper6-login {
    cursor: pointer;
    border: 0.06vw solid var(--purple-login);
    padding: var(--padding-xl-login) var(--padding-5xl-login);
    background-color: transparent;
    border-radius: var(--br-xs-login);
    box-sizing: border-box;
    width: 31.2vw;
    align-items: center;
    justify-content: space-between
    }
.continue-login {
    position: relative;
    font-size: var(--body-heavy-size-login);
    font-family: var(--h1-heavy-login);
    color: var(--color-white-login);
    text-align: left
    }
.frame-wrapper7-login {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl-login) var(--padding-5xl-login);
    background-color: var(--purple-login);
    border-radius: var(--br-xs-login);
    width: 31.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box
    }
.frame-parent12-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base-login)
    }
.sign-in1-login {
    color: var(--purple-login)
    }
.already-have-an-container1-login {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: inherit
    }
.frame-parent11-login {
    position: absolute;
    top: 38.69vw;
    left: 4.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-33xl-login)
    }
.sign-up-as-institute3-login {
    position: relative;
    background-color: var(--color-white-login);
    width: 100%;
    height: 56.12vw;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base-login);
    color: var(--black-login);
    font-family: var(--h1-heavy-login)
    }