.vector-icon33 {
  position: absolute;
  height: 34%;
  width: 34.01%;
  top: 32.99%;
  right: 32.99%;
  bottom: 33%;
  left: 33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.basilcross-outline11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.8vw;
  left: 35vw;
  width: 2.12vw;
  height: 2.12vw;
  overflow: hidden;
}
.company-logo-icon29 {
  position: relative;
  width: 6.22vw;
  height: 2.71vw;
  overflow: hidden;
  flex-shrink: 0;
}
.sde-1-interview24 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.78vw;
}
.sde-1-interview23 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.78vw;
  font-weight:bold;
}
.saturday-august-29-group,
.sde-1-interview-parent22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.saturday-august-29-group {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.sde-1-interview-parent22 {
  flex-direction: column;
}
.dos1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.02em;
  line-height: 2.78vw;
  font-family: var(--font-avenir-lt-std);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.dos-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.frame-child169 {
  position: relative;
  width: 34.19vw;
  height: 0.13vw;
}
.dress-professionally-to2 {
  margin-bottom: 0;
}
.dress-professionally-to-make-a1 {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.dress-professionally-to-container1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.38vw;
  font-weight:light;
  font-size: medium;
}
.dress-professionally-to-make-a-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent222 {
  font-size: var(--font-inherit);
  color: var(--icon-grey);
  font-family: var(--font-inherit);
}
.frame-parent221,
.frame-parent222 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.start-now1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--white);
  text-align: left;
  font-weight:bold;
}
.solarplay-bold-icon2 {
  position: relative;
  width: 1.06vw;
  height: 1.06vw;
  overflow: hidden;
  flex-shrink: 0;
}
.start-now-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-5xs);
  width: 10.52vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  width: 11vw;
}
.reschedule1 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--incomplete);
  text-align: left;
  font-weight:bold;
}
.reschedule-container {
  cursor: pointer;
  border: 0.07vw solid var(--incomplete);
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-sandybrown-200);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 10.52vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cancel2 {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--danger);
  text-align: left;
  font-weight:bold;
}
.cancel-frame {
  cursor: pointer;
  border: 0.07vw solid var(--danger);
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-crimson-100);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 10.52vw;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent220,
.frame-parent224 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent220 {
  position: absolute;
  top: calc(50% - 13.72vw);
  left: 2.12vw;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.startinterviewpopup {
  border-radius: var(--br-base);
  background-color: var(--white);
  width: 38.43vw;
  height: 31.55vw;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--black);
  font-family: var(--font-avenir-lt-std);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.56vw;
 transform:translate(-50%,-50%);
}
