.vector-icon4 {
    width: 5.95vw;
    height: 5.95vw
    }
.students-added-succesfully, .vector-icon4 {
    position: relative
    }
.students-added-succesfully-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    }
.monitor-their-progress {
    position: relative;
    font-size: var(--font-size-5xl)
    }
.frame-parent22, .vector-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs)
    }
.vector-parent {
    position: absolute;
    top: 0;
    left: 0;
    gap: var(--gap-5xl)
    }
.studentsaddedsuccessfullypopup-inner {
    position: absolute;
    top: 3.37vw;
    left: calc(50% - 15.71vw);
    width: 31.68vw;
    height: 12.24vw
    }
.vector-icon5 {
    position: absolute;
    height: 32.69%;
    width: 32.7%;
    top: 33.65%;
    right: 33.65%;
    bottom: 33.66%;
    left: 33.65%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%
    }
.basilcross-outline3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 1.59vw;
    left: 30.82vw;
    width: 2.98vw;
    height: 2.98vw;
    overflow: hidden
    }
.studentsaddedsuccessfullypopup {
    border-radius: var(--br-base);
    background-color: var(--white);
    width: 35.38vw;
    height: 18.98vw;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: 1.56vw;
    color: var(--color-gray-300);
    font-family: var(--font-avenir-lt-std);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    }