.my-interview-score {
    position: absolute;
    top: 1.32vw;
    left: 1.32vw;
    letter-spacing: -0.02em;
    line-height: 2.78vw;
    font-weight: bold
    }
.mask-group {
    position: absolute;
    top: 5.29vw;
    left: 2.58vw;
    width: 20.09vw;
    height: 10.71vw;
    text-align: center;
    font-size: 0.86vw;
    color: #89a382
    }
.confidence-meter-parent {
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--white);
    box-shadow: -0.07vw -0.07vw 0.26vw rgba(0, 0, 0, 0.1), 0.07vw 0.07vw 0.26vw rgba(0, 0, 0, 0.1);
    border: 0.07vw solid var(--white);
    box-sizing: border-box;
    width: 25.26vw;
    height: 17.5vw;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--color-darkslategray-200)
    }