/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.fill-your-new-login,
.reset-your-password-login {
  @apply relative;
}
.fill-your-new-login {
  @apply text-[length:var(--font-size-5xl-login)];
}
.reset-your-password-parent-login {
  @apply absolute flex flex-col items-start justify-start gap-[var(--gap-9xs-login)] text-[color:var(--color-gray-400-login)] left-[4.80vw] top-[11.43vw];
}
.frame-child12-login,
.new-password-wrapper-login {
  @apply w-[31.20vw] flex flex-row items-center justify-start;
}
.frame-child12-login {
  @apply border-[color:var(--color-gainsboro-300-login)] text-[length:var(--body-heavy-size-login)] bg-transparent rounded-[var(--br-xs-login)] box-border justify-between pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] border-[0.06vw] border-solid;
  font-family: var(--h1-heavy-login);
}
.confirm-new-password-parent-login,
.frame-wrapper17-login {
  @apply flex flex-col items-start justify-start;
}
.confirm-new-password-parent-login {
  @apply gap-[var(--gap-5xs-login)];
}
.continue3-login,
.frame-parent24-login {
  @apply text-[length:var(--body-heavy-size-login)];
}
.frame-parent24-login {
  @apply absolute flex flex-col items-start justify-start gap-[var(--gap-7xl-login)] left-[4.80vw] top-[18.91vw];
}
.continue3-login {
  @apply relative text-[color:var(--color-white-login)] text-left;
  font-family: var(--h1-heavy-login);
}
.continue-wrapper1-login,
.frame-wrapper18-login {
  @apply flex flex-row items-end justify-center;
}
.frame-wrapper18-login {
  @apply cursor-pointer pt-[var(--padding-xl-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-xl-login)] pl-[var(--padding-5xl-login)] bg-[color:var(--purple-login)] rounded-[var(--br-xs-login)] w-[31.20vw] items-center justify-between box-border border-0;
}
.sign-in4-login {
  @apply text-[color:var(--purple-login)];
}
.already-have-an-container4-login {
  @apply cursor-pointer no-underline relative text-inherit;
}
.frame-parent26-login {
  @apply absolute flex flex-col items-center justify-start gap-[var(--gap-33xl-login)] text-[length:var(--font-size-base-login)] left-[4.80vw] top-[43.26vw];
}
.reset-password-login {
  @apply relative bg-[color:var(--color-white-login)] w-full h-[56.12vw] overflow-hidden text-left text-[length:var(--h1-heavy-size-login)] text-[color:var(--black-login)];
  font-family: var(--h1-heavy-login);
}
