.kindly-give-remarks, .remarks {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.78vw
  }
.remarks {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.78vw;
  font-weight: bold;
  }    
.kindly-give-remarks {
  font-size: var(--font-size-lg);
  color: var(--icon-grey);
  margin-top: -0.53vw
  }
.remarks-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl)
  }
.overall-impression {
  position: relative
  }
.frame-textarea, .overall-impression-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start
  }
.frame-textarea {
  border: 0.07vw solid var(--color-gainsboro-400);
  background-color: transparent;
  font-family: var(--font-avenir-lt-std);
  font-size: var(--font-size-xl);
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 41.01vw;
  height: 5.75vw;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl)
  }
.overall-impression-parent {
  flex-direction: column;
  gap: var(--gap-xs)
  }
.frame-parent50, .frame-wrapper23, .frame-wrapper24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start
  }
.frame-parent50, .frame-wrapper23 {
  flex-direction: column
  }
.frame-parent50 {
  gap: var(--gap-5xl)
  }
.submit-remarks {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-avenir-lt-std);
  color: var(--white);
  text-align: left;
  font-weight: bold;
  }
.submit-remarks-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-mediumseagreen);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
  }
.frame-parent49 {
  position: absolute;
  top: 2.38vw;
  left: calc(50% - 20.5vw);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl)
  }
.vector-icon15 {
  position: absolute;
  height: 34%;
  width: 34.01%;
  top: 32.99%;
  right: 32.99%;
  bottom: 33%;
  left: 32.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%
  }
.basilcross-outline7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 2.12vw;
  left: 40.34vw;
  width: 2.12vw;
  height: 2.12vw;
  overflow: hidden
  }
.testremarkspopup {
  border-radius: var(--br-base);
  background-color: var(--white);
  width: 44.31vw;
  height: 44.71vw;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: 1.56vw;
  color: var(--black);
  font-family: var(--font-avenir-lt-std);
  position: absolute;
  top: 20vw;
  left: 30vw;
  }