/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.kindly-give-remarks,
.remarks {
  @apply relative tracking-[-0.02em] leading-[2.78vw];
}
.remarks {
  @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
}
.kindly-give-remarks {
  @apply text-[length:var(--font-size-lg)] text-[color:var(--icon-grey)] mt-[-0.53vw];
}
.remarks-parent {
  @apply flex flex-col items-start justify-start text-[length:var(--font-size-5xl)];
}
.overall-impression {
  @apply relative;
}
.frame-textarea,
.overall-impression-parent {
  @apply flex items-start justify-start;
}
.frame-textarea {
  @apply border-[color:var(--color-gainsboro-400)] bg-transparent text-[length:var(--font-size-xl)] rounded-[var(--br-xs)] box-border w-[41.01vw] h-[5.75vw] flex-row pt-[var(--padding-base)] pr-[var(--padding-5xl)] pb-[var(--padding-base)] pl-[var(--padding-5xl)] border-[0.07vw] border-solid;
  font-family: var(--font-avenir-lt-std);
}
.overall-impression-parent {
  @apply flex-col gap-[var(--gap-xs)];
}
.frame-parent50,
.frame-wrapper23,
.frame-wrapper24 {
  @apply flex flex-row items-start justify-start;
}
.frame-parent50,
.frame-wrapper23 {
  @apply flex-col;
}
.frame-parent50 {
  @apply gap-[var(--gap-5xl)];
}
.submit-remarks {
  @apply relative text-[length:var(--font-size-xl)] text-[color:var(--white)] text-left font-[bold];
  font-family: var(--font-avenir-lt-std);
}
.submit-remarks-wrapper {
  @apply cursor-pointer pt-[var(--padding-base)] pr-[var(--padding-xl)] pb-[var(--padding-base)] pl-[var(--padding-xl)] bg-[color:var(--color-mediumseagreen)] rounded-[var(--br-5xs)] overflow-hidden flex flex-row items-center justify-center border-0;
}
.frame-parent49 {
  @apply absolute left-[calc(50%_-_20.5vw)] flex flex-col items-start justify-start gap-[var(--gap-21xl)] top-[2.38vw];
}
.vector-icon15 {
  @apply absolute h-[34%] w-[34.01%] max-w-full overflow-hidden max-h-full top-[32.99%] bottom-[33%] inset-x-[32.99%];
}
.basilcross-outline7 {
  @apply cursor-pointer bg-transparent absolute w-[2.12vw] h-[2.12vw] overflow-hidden p-0 border-0 left-[40.34vw] top-[2.12vw];
}
.testremarkspopup {
  @apply rounded-[var(--br-base)] bg-[color:var(--white)] w-[44.31vw] h-[44.71vw] overflow-hidden max-w-full max-h-full text-left text-[1.56vw] text-[color:var(--black)] absolute left-[30vw] top-[20vw];
  font-family: var(--font-avenir-lt-std);
}
