@import url("https://fonts.googleapis.com/css2?family=Avenir+LT+Std:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");
@font-face {
  font-family: 'PingFang SC'; 
  src: url('/src/fonts/PingFang SC Regular.otf') format('opentype');
  
}
@font-face {
  font-family: 'Avenir LT Std'; 
  src: url('/src/fonts/Avenir LT Std 55 Roman.otf') format('opentype');
  font-weight: light;
  
}
@font-face {
  font-family: 'Avenir LT Std'; 
  src: url('/src/fonts/Avenir LT Std 65 Medium.otf') format('opentype');
  font-weight:normal;
}
@font-face {
  font-family: 'Avenir LT Std'; 
  src: url('/src/fonts/Avenir LT Std 85 Heavy.otf') format('opentype');
  font-weight:bold;
  
}



@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PingFang+SC:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --h1-heavy-login: "Avenir LT Std";
  --font-inherit-login: inherit;
  --font-baloo-2-login: "Baloo 2";
  --font-avenir-lt-std: "Avenir LT Std";
  --font-inherit: inherit;
  --font-nunito: Nunito;
  --cn-regular: "PingFang SC";
  --en-regular: "Helvetica Neue";

  /* font sizes */
  --font-size-base-login: 0.91vw;
  --body-heavy-size-login: 1.14vw;
  --font-size-5xl-login: 1.37vw;
  --h1-heavy-size-login: 1.83vw;
  --font-size-lg-login: 1.03vw;
  --font-size-11xl-login: 1.71vw;
  --font-size-9xs-8-login: 0.22vw;
  --font-size-9xs-6-login: 0.21vw;
  --font-size-9xs-1-login: 0.18vw;
  --font-size-8xs-1-login: 0.23vw;
  --font-size-8xs-3-login: 0.24vw;
  --font-size-9xs-2-login: 0.18vw;
  --font-size-10xs-7-login: 0.15vw;
  --font-size-10xs-9-login: 0.16vw;
  --font-size-10xs-5-login: 0.14vw;
  --font-size-9xs-4-login: 0.19vw;
  --font-size-6xs-7-login: 0.38vw;
  --font-size-6xs-4-login: 0.36vw;
  --font-size-7xs-4-login: 0.31vw;
  --font-size-5xs-3-login: 0.41vw;
  --font-size-5xs-6-login: 0.43vw;
  --font-size-7xs-7-login: 0.33vw;
  --font-size-8xs-8-login: 0.28vw;
  --font-size-7xs-1-login: 0.30vw;
  --font-size-8xs-5-login: 0.26vw;
  --font-size-7xs-login: 0.35vw;
  --font-size-9xl: 1.85vw;
  --font-size-xl: 1.32vw;
  --font-size-5xl: 1.59vw;
  --font-size-base: 1.06vw;
  --font-size-15xl: 2.25vw;
  --font-size-base-9: 1.05vw;
  --font-size-sm: 0.93vw;
  --cn-regular-size: 0.79vw;
  --font-size-lg: 1.19vw;
  --font-size-17xl: 2.38vw;
  --en-regular-size: 0.66vw;
  --font-size-sm-7: 0.91vw;
  --font-size-2xs-3: 0.68vw;
  --font-size-6xl: 1.65vw;
  --font-size-3xs-1: 0.60vw;
  --font-size-2xs-7: 0.71vw;
  --font-size-5xs: 0.53vw;
  --font-size-21xl: 2.65vw;

  /* Colors */
  --color-white-login: #fff;
  --purple-login: #605bff;
  --color-gray-100-login: #8f8f8f;
  --icon-grey-login: #8d8d8d;
  --color-gray-200-login: #858585;
  --black-login: #212121;
  --color-gray-300-login: #171717;
  --color-gray-400-login: #0e0e10;
  --color-gray-500-login: rgba(255, 255, 255, 0.3);
  --color-gray-600-login: rgba(255, 255, 255, 0.2);
  --color-gainsboro-100-login: #dedede;
  --color-gainsboro-200-login: #dbdbdb;
  --color-gainsboro-300-login: #dad7d5;
  --color-gainsboro-400-login: rgba(218, 215, 213, 0.6);
  --color-lightsteelblue-login: rgba(186, 195, 246, 0.4);
  --color-black-login: #000;
  --color-whitesmoke-100-login: #f9faf5;
  --color-whitesmoke-200-login: #f3f6f9;
  --color-whitesmoke-300-login: #ededed;
  --color-whitesmoke-400-login: #eaefe8;
  --color-cadetblue-login: #81a79e;
  --color-darkslategray-login: #343434;
  --color-darkseagreen-login: #7ca36d;
  --color-crimson-login: #e94664;
  --color-dimgray-login: #5c5c5c;
  --color-lightgray-login: #d3d3d3;
  --color-silver-login: #c8c8c8;
  --color-ghostwhite-100: #f5f6fa;
  --color-ghostwhite-200: #f3f5fb;
  --color-gray-100: #fcfcff;
  --icon-grey: #8d8d8d;
  --color-gray-200: #808080;
  --text-5-: #1d2129;
  --black: #212121;
  --color-gray-300: #0e0e10;
  --text: #030229;
  --color-gray-400: rgba(255, 255, 255, 0.4);
  --color-gray-500: rgba(33, 33, 33, 0.8);
  --color-gray-600: rgba(255, 255, 255, 0.1);
  --white: #fff;
  --purple: #605bff;
  --color-mediumslateblue-100: rgba(96, 91, 255, 0.1);
  --color-mediumslateblue-200: rgba(96, 91, 255, 0.17);
  --color-gainsboro-100: #e3e3e3;
  --color-gainsboro-200: #dfdfdf;
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-400: #dad7d5;
  --color-gainsboro-500: rgba(218, 215, 213, 0.6);
  --yellow: #ffd302;
  --color-darkslategray-100: #494949;
  --color-darkslategray-200: #353535;
  --color-darkslategray-300: #313131;
  --danger: #e63838;
  --color-crimson-100: rgba(233, 70, 100, 0.1);
  --color-crimson-200: rgba(230, 56, 56, 0.1);
  --color-dimgray-100: #717171;
  --color-dimgray-200: rgba(91, 91, 91, 0.5);
  --color-lightgray-100: #d3d5db;
  --light-base-chart-title: #000;
  --color-mediumseagreen: #5bbd71;
  --color-lightsalmon-100: #ff9a6c;
  --incomplete: #ff8f6b;
  --color-sandybrown-100: #ffaa5b;
  --color-sandybrown-200: rgba(239, 146, 70, 0.1);
  --color-darkorange: #ff9a3c;
  --color-whitesmoke-100: #eaeaea;
  --color-aliceblue: #eff2f9;
  --color-darkgray-100: #b1b1b1;
  --color-darkgray-200: #9e9e9e;
  --color-darkgray-300: rgba(160, 160, 160, 0.5);
  --color-lightcoral: #ff6979;
  --color-dodgerblue: rgba(84, 142, 255, 0.1);
  --color-royalblue-100: #0052cc;
  --color-orange: #ffb627;
  --color-lavender: #efefff;
  --color-slateblue: #5959d3;
  --color-tomato: #f25959;

  /* Gaps */
  --gap-41xl-login: 3.43vw;
  --gap-33xl-login: 2.98vw;
  --gap-base-login: 0.91vw;
  --gap-9xs-login: 0.22vw;
  --gap-37xl-login: 3.20vw;
  --gap-17xl-login: 2.05vw;
  --gap-xs-login: 0.68vw;
  --gap-36xl-login: 3.15vw;
  --gap-13xl-login: 1.83vw;
  --gap-7xs-login: 0.35vw;
  --gap-9xl-login: 1.60vw;
  --gap-mini-login: 0.85vw;
  --gap-5xs-login: 0.46vw;
  --gap-53xl-login: 4.11vw;
  --gap-32xl-login: 2.91vw;
  --gap-7xl-login: 1.49vw;
  --gap-9xl: 1.85vw;
  --gap-5xs: 0.53vw;
  --gap-5xl: 1.59vw;
  --gap-227xl: 16.27vw;
  --gap-13xl: 2.12vw;
  --gap-xl: 1.32vw;
  --gap-xs: 0.79vw;
  --gap-lgi: 1.26vw;
  --gap-base: 1.06vw;
  --gap-12xs: 0.07vw;
  --gap-9xs: 0.26vw;
  --gap-118xl: 9.06vw;
  --gap-lg: 1.19vw;
  --gap-215xl: 15.48vw;
  --gap-mid: 1.12vw;
  --gap-3xs: 0.66vw;
  --gap-11xs: 0.13vw;
  --gap-17xl: 2.38vw;
  --gap-7xs: 0.40vw;
  --gap-21xl: 2.65vw;
  --gap-11xl: 1.98vw;
  --gap-31xl: 3.31vw;
  --gap-mini: 0.99vw;
  --gap-93xl: 7.41vw;
  --gap-29xl: 3.17vw;
  --gap-37xl: 3.70vw;
  --gap-15xl: 2.25vw;
  --gap-91xl: 7.28vw;
  --gap-83xl: 6.75vw;
  --gap-2xl: 1.39vw;
  --gap-4xl: 1.52vw;
  --gap-27xl: 3.04vw;
  --gap-92xl: 7.34vw;
  --gap-32xl: 3.37vw;
  --gap-2xs: 0.73vw;
  --gap-307xl: 21.56vw;
  --gap-20xl: 2.58vw;


  /* Paddings */
  --padding-xl-login: 1.14vw;
  --padding-5xl-login: 1.37vw;
  --padding-base-login: 0.91vw;
  --padding-base: 1.06vw;
  --padding-xl: 1.32vw;
  --padding-5xl: 1.59vw;
  --padding-xs: 0.79vw;
  --padding-21xl: 2.65vw;
  --padding-9xs: 0.26vw;
  --padding-4xs: 0.60vw;
  --padding-6xs: 0.46vw;
  --padding-2xs: 0.73vw;
  --padding-5xs: 0.53vw;
  --padding-sm: 0.93vw;
  --padding-3xs: 0.66vw;
  --padding-98xl: 7.74vw;
  --padding-11xs: 0.13vw;
  --padding-29xl: 3.17vw;
  --padding-16xl: 2.31vw;
  --padding-19xl: 2.51vw;
  --padding-101xl: 7.94vw;
  --padding-mini: 0.99vw;
  --padding-13xl: 2.12vw;

  /* Border radiuses */
  --br-xs-login: 0.68vw;
  --br-17xl-login: 2.05vw;
  --br-7xs-login: 0.35vw;
  --br-11xs-3-login: 0.08vw;
  --br-10xs-5-login: 0.14vw;
  --br-11xs-8-login: 0.11vw;
  --br-lg-login: 1.03vw;
  --br-12xs-7-login: 0.05vw;
  --br-11xs-4-login: 0.08vw;
  --br-8xs-5-login: 0.26vw;
  --br-2xs-6-login: 0.60vw;
  --br-10xs-2-login: 0.13vw;
  --br-9xs-2-login: 0.18vw;
  --br-12xl-8-login: 1.81vw;
  --br-5xs-login: 0.46vw;
  --br-base: 1.06vw;
  --br-5xs: 0.53vw;
  --br-xs: 0.79vw;
  --br-16xl: 2.31vw;
  --br-9xs: 0.26vw;
  --br-5xl: 1.59vw;
  --br-81xl: 6.61vw;
  --br-8xs: 0.33vw;
  --br-4xs: 0.60vw;
  --br-3xs: 0.66vw;
  --br-lgi: 1.26vw;
  --br-7xs: 0.40vw;
}
