.frame-child21-login, .phone-no-group-login {
    display: flex;
    justify-content: flex-start
    }
.frame-child21-login {
    border: 0.06vw solid var(--color-gainsboro-300-login);
    font-family: var(--h1-heavy-login);
    font-size: var(--body-heavy-size-login);
    background-color: transparent;
    border-radius: var(--br-xs-login);
    box-sizing: border-box;
    width: 31.2vw;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-base-login) var(--padding-5xl-login)
    }
.phone-no-group-login {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-5xs-login)
    }
.institute-address-login {
    position: relative
    }
.frame-child22-login {
    border: 0.06vw solid var(--color-gainsboro-300-login);
    font-family: var(--h1-heavy-login);
    font-size: var(--body-heavy-size-login);
    background-color: transparent;
    border-radius: var(--br-xs-login);
    box-sizing: border-box;
    width: 31.2vw;
    height: 3.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-base-login) var(--padding-5xl-login)
    }
.frame-parent41-login, .frame-wrapper27-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
    }
.frame-parent41-login {
    position: absolute;
    top: 18.91vw;
    left: 4.8vw;
    gap: var(--gap-7xl-login)
    }
.continue5-login {
    position: relative;
    font-size: var(--body-heavy-size-login);
    font-family: var(--h1-heavy-login);
    color: var(--color-white-login);
    text-align: left
    }
.continue-wrapper3-login, .frame-wrapper28-login {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center
    }
.frame-wrapper28-login {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xl-login) var(--padding-5xl-login);
    background-color: var(--purple-login);
    border-radius: var(--br-xs-login);
    width: 31.2vw;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box
    }
.sign-in6-login {
    color: var(--purple-login)
    }
.already-have-an-container6-login {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: inherit
    }
.frame-parent42-login {
    position: absolute;
    top: 43.26vw;
    left: 4.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-33xl-login);
    font-size: var(--font-size-base-login)
    }
.sign-up-as-institute1-login {
    position: relative;
    background-color: var(--color-white-login);
    width: 100%;
    height: 56.12vw;
    overflow: hidden;
    text-align: left;
    font-size: var(--body-heavy-size-login);
    color: var(--black-login);
    font-family: var(--h1-heavy-login)
    }