/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.login-with-google1-login {
    @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--black-login)] text-left;
    font-family: var(--h1-heavy-login);
  }
  .flat-color-iconsgoogle-container-login,
  .frame-wrapper19-login {
    @apply flex flex-row justify-center;
  }
  .flat-color-iconsgoogle-container-login {
    @apply items-end gap-[var(--gap-mini-login)];
  }
  .frame-wrapper19-login {
    @apply cursor-pointer border-[color:var(--color-gainsboro-300-login)] pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] bg-transparent rounded-[var(--br-xs-login)] items-center border-[0.06vw] border-solid;
  }
  .mingcutecoupon-line-icon-login {
    @apply relative w-[1.6vw] h-[1.6vw] overflow-hidden shrink-0;
  }
  .frame-wrapper20-login {
    @apply cursor-pointer border-[color:var(--color-gainsboro-300-login)] pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] bg-transparent rounded-[var(--br-xs-login)] box-border w-[14.8vw] flex flex-row items-center justify-center border-[0.06vw] border-solid;
  }
  .frame-parent31-login {
    @apply flex flex-row items-start justify-start gap-[var(--gap-9xl-login)];
  }
  .frame-child14-login {
    @apply border-t-[color:var(--color-gainsboro-400-login)] box-border w-[14.86vw] h-[0.06vw] border-t-[0.06vw] border-solid;
  }
  .frame-child14-login,
  .or2-login {
    @apply relative;
  }
  .line-container-login {
    @apply flex-row items-center gap-[var(--gap-7xs-login)];
  }
  .email-group-login,
  .frame-child16-login,
  .line-container-login {
    @apply flex justify-start;
  }
  .frame-child16-login {
    @apply border-[color:var(--color-gainsboro-300-login)] text-[length:var(--body-heavy-size-login)] bg-transparent rounded-[var(--br-xs-login)] box-border w-[31.2vw] flex-row items-center pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] border-[0.06vw] border-solid;
    font-family: var(--h1-heavy-login);
  }
  .email-group-login {
    @apply flex-col items-start gap-[var(--gap-5xs-login)];
  }
  .frame-child17-login {
    @apply border-[color:var(--color-gainsboro-300-login)] text-[length:var(--body-heavy-size-login)] bg-transparent rounded-[var(--br-xs-login)] box-border w-[31.2vw] flex flex-row items-center justify-between pt-[var(--padding-base-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-base-login)] pl-[var(--padding-5xl-login)] border-[0.06vw] border-solid;
    font-family: var(--h1-heavy-login);
  }
  .forgot-password-login {
    @apply cursor-pointer no-underline relative text-[length:var(--font-size-base-login)] text-[color:var(--purple-login)];
  }
  .frame-parent34-login,
  .frame-parent35-login {
    @apply flex flex-col items-start justify-start gap-[var(--gap-base-login)];
  }
  .frame-parent34-login {
    @apply gap-[var(--gap-7xl-login)];
  }
  .login1-login {
    @apply relative text-[length:var(--body-heavy-size-login)] text-[color:var(--color-white-login)] text-left;
    font-family: var(--h1-heavy-login);
  }
  .frame-wrapper21-login,
  .login-container-login {
    @apply flex flex-row items-end justify-center;
  }
  .frame-wrapper21-login {
    @apply cursor-pointer pt-[var(--padding-xl-login)] pr-[var(--padding-5xl-login)] pb-[var(--padding-xl-login)] pl-[var(--padding-5xl-login)] bg-[color:var(--purple-login)] rounded-[var(--br-xs-login)] w-[31.2vw] items-center justify-between box-border border-0;
  }
  .frame-parent29-login,
  .frame-parent33-login {
    @apply flex flex-col items-start justify-start;
  }
  .frame-parent33-login {
    @apply gap-[2.28vw] text-[length:var(--body-heavy-size-login)] text-[color:var(--black-login)];
  }
  .frame-parent29-login {
    @apply gap-[var(--gap-13xl-login)];
  }
  .sign-up-for2-login {
    @apply text-[color:var(--purple-login)];
  }
  .new-to-fulcrum-container2-login {
    @apply cursor-pointer no-underline relative inline-block w-[14.5vw] text-[color:var(--black-login)];
  }
  .cantileverlogoblack-2-container-login,
  .frame-parent27-login,
  .frame-parent28-login {
    @apply flex flex-col items-center justify-start gap-[var(--gap-37xl-login)];
  }
  .cantileverlogoblack-2-container-login,
  .frame-parent27-login {
    @apply items-start gap-[var(--gap-36xl-login)];
  }
  .cantileverlogoblack-2-container-login {
    @apply absolute gap-[var(--gap-41xl-login)] left-[4.8vw] top-[5.38vw];
  }
  .login-with-email1-login {
    @apply relative bg-[color:var(--color-white-login)] w-full h-[56.12vw] overflow-hidden text-left text-[length:var(--font-size-base-login)] text-[color:var(--color-gray-100-login)];
    font-family: var(--h1-heavy-login);
  }
  