* {
  font-family: 'Avenir LT Std';
  src: url('/src/fonts/Avenir LT Std 65 Medium.otf') format('opentype');
  font-weight: thin;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.top-header {
  position: absolute;
  width: 100%;
  background-color: var(--color-lavender);
  height: 10%;
  text-align: center;
}

.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 4vw;
  margin-bottom: 5vh;
  color: rgb(49, 46, 46);
}

.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

