* {
  font-family: 'Avenir LT Std';
  src: url('/src/fonts/Avenir LT Std 65 Medium.otf') format('opentype');
  font-weight: thin;
}

.hero {
  @apply h-screen w-full relative;
}
.top-header {
  @apply absolute w-full bg-[color:var(--color-lavender)] h-[10%] text-center;
}
.content {
  @apply flex h-screen flex-col w-full text-center justify-center items-center;
  margin-inline: auto;
}
.heading {
  @apply text-[4vw] text-[rgb(49,46,46)] mb-[5vh];
}
.searchBarContainer {
  @apply flex justify-between items-center w-full;
}
.barContainer {
  @apply ml-[20vw];
}
.forward {
  @apply inline-block text-base font-[bold] text-center no-underline cursor-pointer border-[color:var(--purple-login)] text-white bg-[color:var(--purple-login)] transition-[background-color] duration-[0.3s,color] delay-[0.3s] mx-[4vw] px-5 py-2.5 rounded-[5px] border-2 border-solid hover:bg-[#2980b9] hover:border-[#2980b9];
}
.date-picker {
  @apply w-[25vw] h-[3vw] ml-[-35vw] rounded-[0.5vw];
}
.job-profile-group1 {
  @apply w-[30vw] h-[4vw] ml-[-30vw] rounded-[0.5vw];
}
