/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.scheduled-interviews-container {
    @apply absolute flex flex-col items-start justify-start left-[1.32vw] top-[1.32vw];
  }
  .today {
    @apply absolute top-[-0.07vw] text-[length:var(--font-size-base)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] left-[1.2vw] left-[0.5vw];
    font-family: var(--font-avenir-lt-std);
  }
  .today-wrapper {
    @apply cursor-pointer bg-transparent relative rounded-[var(--br-4xs)] w-[7.08vw] h-[2.51vw] p-0 border-0;
  }
  .upcoming {
    @apply relative tracking-[-0.02em] leading-[2.78vw] font-[bold];
  }
  .upcoming-wrapper {
    @apply rounded-[var(--br-4xs)] h-[2.51vw] flex flex-row items-start justify-start pr-[var(--padding-base)] pl-[var(--padding-base)] box-border py-0;
  }
  .completed {
    @apply absolute top-[-0.07vw] left-[calc(50%_-_2.68vw)] tracking-[-0.02em] leading-[2.78vw] font-[bold];
  }
  .completed-wrapper,
  .frame-parent65 {
    @apply rounded-[var(--br-4xs)] box-border;
  }
  .completed-wrapper {
    @apply relative bg-[color:var(--color-gray-400)] border-[color:var(--purple)] w-[7.08vw] h-[2.51vw] text-[color:var(--purple)] border-[0.08vw] border-solid;
  }
  .frame-parent65 {
    @apply w-[16.33vw] flex flex-row items-start justify-start pt-[var(--padding-9xs)] pr-[var(--padding-base)] pb-[var(--padding-9xs)] pl-[var(--padding-9xs)] gap-[var(--gap-5xl)];
    background: linear-gradient(
      135deg,
      rgba(96, 91, 255, 0.08),
      rgba(96, 91, 255, 0.08)
    );
  }
  .phdots-three-icon {
    @apply absolute w-[1.85vw] h-[1.85vw] overflow-hidden left-[18.72vw] top-0;
  }
  .div46 {
    @apply relative text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left text-[length:var(--font-size-sm)];
    font-family: var(--font-avenir-lt-std);
  }
  .sde-1-interview1 {
    @apply relative text-[length:var(--font-size-5xl)] tracking-[-0.02em] leading-[2.78vw] text-[color:var(--black)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .sde-1-interview-group {
    @apply flex flex-col items-start justify-start gap-[var(--gap-9xs)];
  }
  .company-logo-icon2 {
    @apply relative w-[5.75vw] h-[2.51vw] overflow-hidden shrink-0;
  }
  .view-analysis {
    @apply relative text-[length:var(--font-size-sm)] text-[color:var(--purple)] text-left font-[bold];
    font-family: var(--font-avenir-lt-std);
  }
  .view-analysis-wrapper {
    @apply rounded-[var(--br-9xs)] bg-[color:var(--color-mediumslateblue-100)] border-[color:var(--purple)] overflow-hidden flex flex-row items-center justify-center pt-[var(--padding-5xs)] pr-[var(--padding-base)] pb-[var(--padding-5xs)] pl-[var(--padding-base)] w-[6vw] border-[0.07vw] border-solid;
  }
  .company-logo-group,
  .frame-parent67 {
    @apply flex flex-row items-center justify-start gap-[var(--gap-91xl)];
  }
  .frame-parent67 {
    @apply absolute flex-col items-start gap-[var(--gap-9xs)] left-0 top-0;
  }
  .phdots-three-parent {
    @apply absolute w-[18.39vw] h-[8.6vw] left-[1.32vw] top-[1.59vw];
  }
  .frame-wrapper34 {
    @apply cursor-pointer bg-[color:var(--white)] relative rounded-[var(--br-base)] shadow-[-0.13vw_0_0_rgba(0,0,0,0.1),0.13vw_-0.13vw_0_rgba(0,0,0,0.1),0_0.2vw_0_#605bff] w-[22.7vw] h-[12.04vw] overflow-hidden shrink-0 ml-[0.08vw] mb-[0.49vw] p-0 border-0 top-[0.08vw];
  }
  .div47 {
    @apply relative text-[length:var(--font-size-sm)] tracking-[-0.02em] leading-[2.78vw];
  }
  .company-logo-icon3 {
    @apply absolute w-[7.94vw] h-[2.18vw] overflow-hidden left-0 top-0;
  }
  .view-analysis1 {
    @apply relative;
  }
  .view-analysis-container {
    @apply absolute rounded-[var(--br-9xs)] bg-[color:var(--color-mediumslateblue-100)] border-[color:var(--purple)] overflow-hidden flex flex-row items-center justify-center pt-[var(--padding-5xs)] pr-[var(--padding-base)] pb-[var(--padding-5xs)] pl-[var(--padding-base)] w-[5.4vw] border-[0.07vw] border-solid left-[13.03vw] top-[0.17vw];
  }
  .company-logo-container {
    @apply relative w-[20.57vw] h-[2.51vw] text-[length:var(--font-size-sm)] text-[color:var(--purple)];
  }
  .phdots-three-group {
    @apply absolute w-[20.57vw] h-[8.6vw] left-[1.32vw] top-[1.59vw];
  }
  .frame-wrapper35 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] shadow-[-0.13vw_0_0_rgba(0,0,0,0.1),0.13vw_-0.13vw_0_rgba(0,0,0,0.1),0_0.2vw_0_#605bff] w-[23.21vw] h-[12.04vw] overflow-hidden shrink-0;
  }
  .company-logo-parent2 {
    @apply flex flex-row items-center justify-start gap-[var(--gap-91xl)] text-[length:var(--font-size-sm)] text-[color:var(--purple)];
  }
  .frame-parent64,
  .frame-parent66,
  .frame-wrapper33 {
    @apply flex items-start justify-start;
  }
  .frame-parent66 {
    @apply w-[73.41vw] flex-row flex-wrap gap-[var(--gap-5xl)] text-[length:var(--font-size-5xl)] overflow-auto max-h-[50vw];
  }
  .frame-parent64,
  .frame-wrapper33 {
    @apply flex-col;
  }
  .frame-parent64 {
    @apply gap-[var(--gap-xl)] max-h-[46vw];
  }
  .frame-wrapper33 {
    @apply absolute text-[length:var(--font-size-base)] text-[color:var(--black)] left-[1.65vw] top-[6.22vw];
  }
  .vector-icon17 {
    @apply absolute top-[calc(50%_-_0.73vw)] left-[calc(50%_-_0.73vw)] w-[1.43vw] h-[1.43vw];
  }
  .uiwdate {
    @apply cursor-pointer bg-transparent absolute w-[1.59vw] h-[1.59vw] overflow-hidden p-0 border-0 left-[72.88vw] top-[2.12vw];
  }
  .frame-parent63 {
    @apply relative rounded-[var(--br-base)] bg-[color:var(--white)] w-[76.59vw] h-[53.17vw];
  }
  .dashboard-interviewer1-inner {
    @apply absolute h-[53.17vw] overflow-hidden flex flex-col items-start justify-start left-[21.03vw] top-[9.13vw];
  }
  .dashboard-interviewer1 {
    @apply relative bg-[color:var(--color-ghostwhite-100)] w-full h-[64.95vw] overflow-hidden text-left text-[length:var(--font-size-6xl)] text-[color:var(--color-darkslategray-200)];
    font-family: var(--font-avenir-lt-std);
  }
  